In [6]:
import pandas as pd
from IPython.display import display

In [7]:
def csv_to_df(csv_file, index_col=None):
    data = pd.DataFrame(pd.read_csv(csv_file, index_col=index_col, low_memory=False))
    return data

In [8]:
df = csv_to_df('../data/table.csv', index_col='编号')

In [11]:
df

       学校   班级        性别        地址   身高   体重  数学成绩 物理成绩
编号
1101  S_1  C_1  street_1  street_1  173   63  34.0   A+
1102  S_1  C_1         F  street_2  192   73  32.5   B+
1103  S_1  C_1         M  street_2  186   82  87.2   B-
1104  S_1  C_1         F  street_2  167   81  80.4   B+
1105  S_1  C_1         F  street_4  159   64  84.8   B+
1201  S_1  C_2         M  street_5  188   68  97.0   A-
1202  S_1  C_2         F  street_4  176   94  63.5   B-
1203  S_1  C_2         M  street_6  160   53  58.8   A+
1204  S_1  C_2         F  street_5  162   63  33.8    B
1205  S_1  C_2         F  street_6  167   63  68.4   B-
1301  S_1  C_3         M  street_4  161   68  31.5   B+
1302  S_1  C_3         F  street_1  175   57  87.7   A-
1303  S_1  C_3         M  street_7  188   82  49.7    B
1304  S_1  C_3         M  street_2  195   70  85.2    A
1305  S_1  C_3         F  street_5  187   69  61.7   B-
2101  S_2  C_1         M  street_7  174   84  83.3    C
2102  S_2  C_1         F  street_6  161   61  50.6   B+
2103  S_2  C_1         M  street_4  157   61  52.5   B-
2104  S_2  C_1         F  street_5  159   97  72.2   B+
2105  S_2  C_1         M  street_4  170   81  34.2    A
2201  S_2  C_2         M  street_5  193  100  39.1    B
2202  S_2  C_2         F  street_7  194   77  68.5   B+
2203  S_2  C_2         M  street_4  155   91  73.8   A+
2204  S_2  C_2         M  street_1  175   74  47.2   B-
2205  S_2  C_2         F  street_7  183   76  85.4    B
2301  S_2  C_3         F  street_4  157   78  72.3   B+
2302  S_2  C_3         M  street_5  171   88  32.7    A
2303  S_2  C_3         F  street_7  190   99  65.9    C
2304  S_2  C_3         F  street_6  164   81  95.5   A-
2305  S_2  C_3         M  street_4  187   73  48.9    B
2401  S_2  C_4         F       NaN  192   62  45.3    A
2402  S_2  C_4         M  street_7  166   82  48.7    B
2403  S_2  C_4         F  street_6  158   60  59.7   B+
2404  S_2  C_4         F  street_2  160   84  97.0    B
2405  S_2  C_4         F       NaN  193   54 -47.6    B

In [12]:
row = df.index.get_loc(2105)
df[row : row + 1]

       学校   班级 性别        地址   身高  体重  数学成绩 物理成绩
编号
2105  S_2  C_1  M  street_4  170  81  34.2    A

In [13]:
df[df['体重'] >= 60].head()

       学校   班级        性别        地址   身高   体重  数学成绩 物理成绩
编号
1101  S_1  C_1  street_1  street_1  173   63  34.0   A+
1102  S_1  C_1         F  street_2  192   73  32.5   B+
1103  S_1  C_1         M  street_2  186   82  87.2   B-
1104  S_1  C_1         F  street_2  167   81  80.4   B+
1105  S_1  C_1         F  street_4  159   64  84.8   B+
1201  S_1  C_2         M  street_5  188   68  97.0   A-
1202  S_1  C_2         F  street_4  176   94  63.5   B-
1204  S_1  C_2         F  street_5  162   63  33.8    B
1205  S_1  C_2         F  street_6  167   63  68.4   B-
1301  S_1  C_3         M  street_4  161   68  31.5   B+
1303  S_1  C_3         M  street_7  188   82  49.7    B
1304  S_1  C_3         M  street_2  195   70  85.2    A
1305  S_1  C_3         F  street_5  187   69  61.7   B-
2101  S_2  C_1         M  street_7  174   84  83.3    C
2102  S_2  C_1         F  street_6  161   61  50.6   B+
2103  S_2  C_1         M  street_4  157   61  52.5   B-
2104  S_2  C_1         F  street_5  159   97  72.2   B+
2105  S_2  C_1         M  street_4  170   81  34.2    A
2201  S_2  C_2         M  street_5  193  100  39.1    B
2202  S_2  C_2         F  street_7  194   77  68.5   B+
2203  S_2  C_2         M  street_4  155   91  73.8   A+
2204  S_2  C_2         M  street_1  175   74  47.2   B-
2205  S_2  C_2         F  street_7  183   76  85.4    B
2301  S_2  C_3         F  street_4  157   78  72.3   B+
2302  S_2  C_3         M  street_5  171   88  32.7    A
2303  S_2  C_3         F  street_7  190   99  65.9    C
2304  S_2  C_3         F  street_6  164   81  95.5   A-
2305  S_2  C_3         M  street_4  187   73  48.9    B
2401  S_2  C_4         F       NaN  192   62  45.3    A
2402  S_2  C_4         M  street_7  166   82  48.7    B
2403  S_2  C_4         F  street_6  158   60  59.7   B+
2404  S_2  C_4         F  street_2  160   84  97.0    B