# 第1章 Pandas基础

In [242]:
# 导包
import pandas as pd
import numpy as np

#### 查看Pandas版本

In [243]:
pd.__version__

'1.4.4'

## 一、文件读取与写入
### 1. 读取
#### （a）csv格式

In [244]:
# df = pd.read_csv('data/students.csv')
# df.head()

#### （b）txt格式

In [245]:
# df_txt = pd.read_table('data/table.txt') #可设置sep分隔符参数
# df_txt

#### （c）xls或xlsx格式

In [246]:
#需要安装xlrd包
# df_excel = pd.read_excel('data/table.xlsx')
# df_excel.head()

### 2. 写入

#### （a）csv格式

In [247]:
# df.to_csv('data/new_table.csv')
#df.to_csv('data/new_table.csv', index=False) #保存时除去行索引

#### （b）xls或xlsx格式

In [248]:
#需要安装openpyxl
# df.to_excel('data/new_table2.xlsx', sheet_name='Sheet1')

## 二、基本数据结构
### 1. Series
#### （a）创建一个Series

#### 对于一个Series，其中最常用的属性为值（values），索引（index），名字（name），类型（dtype）

In [249]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'],name='Series1',dtype='float64')
s

a   -0.540242
b   -1.635258
c    1.045247
d    1.332556
e    1.584932
Name: Series1, dtype: float64

#### （b）访问Series属性

In [250]:
s.values

array([-0.54024173, -1.63525837,  1.0452474 ,  1.332556  ,  1.58493235])

In [251]:
s.name

'Series1'

In [252]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [253]:
s.dtype

dtype('float64')

#### （c）取出某一个元素
#### 将在第2章详细讨论索引的应用，这里先大致了解

In [254]:
# s['a']
s[0:9]

a   -0.540242
b   -1.635258
c    1.045247
d    1.332556
e    1.584932
Name: Series1, dtype: float64

#### （d）调用方法

In [255]:
s.mean() # 平均值

0.3574471286981595

In [256]:
dir(s)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'a',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'b',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'c',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'd',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'e',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

#### Series有相当多的方法可以调用：

In [257]:
print([attr for attr in dir(s) if not attr.startswith('_')])

['T', 'a', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'b', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'c', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'd', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'e', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

### 2. DataFrame
#### （a）创建一个DataFrame

In [258]:
dic = {'col1':list('abcde'),'col2':range(5,10),'col3':[1.3,2.5,3.6,4.6,5.8]}
df = pd.DataFrame(dic,index=list('一二三四五'))
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8

#### （b）从DataFrame取出一列为Series

In [259]:
df['col1']

一    a
二    b
三    c
四    d
五    e
Name: col1, dtype: object

In [260]:
type(df)

pandas.core.frame.DataFrame

In [261]:
type(df['col1'])

pandas.core.series.Series

#### （c）修改行或列名

In [262]:
df.rename(index={'一':'one'},columns={'col1':'new_col1'})

    new_col1  col2  col3
one        a     5   1.3
二          b     6   2.5
三          c     7   3.6
四          d     8   4.6
五          e     9   5.8

#### （d）调用属性和方法

In [263]:
df.index

Index(['一', '二', '三', '四', '五'], dtype='object')

In [264]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [265]:
df.values

array([['a', 5, 1.3],
       ['b', 6, 2.5],
       ['c', 7, 3.6],
       ['d', 8, 4.6],
       ['e', 9, 5.8]], dtype=object)

In [266]:
df.shape

(5, 3)

In [267]:
df.mean()  # 求平均值

C:\Users\Bing_John\AppData\Local\Temp\ipykernel_65156\3918985483.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()  # 求平均值

col2    7.00
col3    3.56
dtype: float64

#### （e）索引对齐特性
#### 这是Pandas中非常强大的特性，简单理解就是“索引相同的元素进行操作”

In [268]:
# 索引相同的元素进行操作
df1 = pd.DataFrame({"A":[1,2,3]},index=[1,2,3])
df2 = pd.DataFrame({"A":[4,5,6]},index=[1,2,3])
print(df1-df2)

df3 = pd.DataFrame({"A":[4,5,6]},index=[3,2,1])
df3-df1

   A
1 -3
2 -3
3 -3

   A
1  5
2  3
3  1

#### （f）列的删除与添加
#### 对于删除而言，可以使用drop函数或del或pop

In [269]:
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8

In [270]:
df.drop(index='五') #删除第五行，设置inplace=True后会直接在原DataFrame中改动

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6

In [271]:
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8

In [272]:
df.drop(columns='col1') # 删除第1列

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

In [273]:
df.drop(index='一',columns='col2')  # 删除第一行和第2列

  col1  col3
二    b   2.5
三    c   3.6
四    d   4.6
五    e   5.8

In [274]:
df['col1']=[1,2,3,4,5]
del df['col1']
df

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

In [275]:
a = 1
print(a)
del a
# print(a)

1

#### pop方法直接在原来的DataFrame上操作，且返回被删除的列，与python中的pop函数类似

In [276]:
df['col1']=[2,3,4,5,6]
df.pop('col1')

一    2
二    3
三    4
四    5
五    6
Name: col1, dtype: int64

In [277]:
df

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

In [278]:
import pandas as pd
df1=pd.DataFrame([1,2,3], columns=['A'],index=[1,2,3])
df1

   A
1  1
2  2
3  3

#### 可以直接增加新的列，也可以使用assign方法

In [279]:
df1['B']=['a','b','c']
df1

   A  B
1  1  a
2  2  b
3  3  c

In [280]:
import pandas as pd
# assign:分配，指派
df1.assign(C=['d','e','f'])
# 思考：为什么会出现NaN？

   A  B  C
1  1  a  d
2  2  b  e
3  3  c  f

In [281]:
# df3 = pd.DataFrame({"a":[1,2,3]},index=[0,1,2])
df3 = pd.DataFrame({"A":[1,2,3]},index=[1,2,3])
df3

   A
1  1
2  2
3  3

In [282]:
# df3.assign(B=pd.Series(['a','b','c']))  # a的索引是0，b的索引是1，c的索引是2
df3.assign(B=['a','b','c'])

   A  B
1  1  a
2  2  b
3  3  c

#### （g）根据类型选择列

In [283]:
df

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

In [284]:
df.select_dtypes(include=['number']).head()

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

In [285]:
df.select_dtypes(include=['float']).head()

   col3
一   1.3
二   2.5
三   3.6
四   4.6
五   5.8

In [286]:
df.select_dtypes(include=['int']).head()

   col2
一     5
二     6
三     7
四     8
五     9

#### （h）将Series转换为DataFrame

In [287]:
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [288]:
type(s.to_frame())

pandas.core.frame.DataFrame

In [289]:
type(s)

pandas.core.series.Series

In [290]:
s2 = s.to_frame()
type(s2)
s2

   0
0  1
1  2
2  3
3  4

#### 使用T符号可以转置

In [291]:
s2.T

   0  1  2  3
0  1  2  3  4

## 三、常用基本函数

In [292]:
df = pd.read_csv('data/table.csv')
df

     学校   班级    编号        性别        地址   身高   体重  数学成绩 物理成绩
0   S_1  C_1  1101  street_1  street_1  173   63  34.0   A+
1   S_1  C_1  1102         F  street_2  192   73  32.5   B+
2   S_1  C_1  1103         M  street_2  186   82  87.2   B-
3   S_1  C_1  1104         F  street_2  167   81  80.4   B+
4   S_1  C_1  1105         F  street_4  159   64  84.8   B+
5   S_1  C_2  1201         M  street_5  188   68  97.0   A-
6   S_1  C_2  1202         F  street_4  176   94  63.5   B-
7   S_1  C_2  1203         M  street_6  160   53  58.8   A+
8   S_1  C_2  1204         F  street_5  162   63  33.8    B
9   S_1  C_2  1205         F  street_6  167   63  68.4   B-
10  S_1  C_3  1301         M  street_4  161   68  31.5   B+
11  S_1  C_3  1302         F  street_1  175   57  87.7   A-
12  S_1  C_3  1303         M  street_7  188   82  49.7    B
13  S_1  C_3  1304         M  street_2  195   70  85.2    A
14  S_1  C_3  1305         F  street_5  187   69  61.7   B-
15  S_2  C_1  2101         M  street_7  174   84  83.3    C
16  S_2  C_1  2102         F  street_6  161   61  50.6   B+
17  S_2  C_1  2103         M  street_4  157   61  52.5   B-
18  S_2  C_1  2104         F  street_5  159   97  72.2   B+
19  S_2  C_1  2105         M  street_4  170   81  34.2    A
20  S_2  C_2  2201         M  street_5  193  100  39.1    B
21  S_2  C_2  2202         F  street_7  194   77  68.5   B+
22  S_2  C_2  2203         M  street_4  155   91  73.8   A+
23  S_2  C_2  2204         M  street_1  175   74  47.2   B-
24  S_2  C_2  2205         F  street_7  183   76  85.4    B
25  S_2  C_3  2301         F  street_4  157   78  72.3   B+
26  S_2  C_3  2302         M  street_5  171   88  32.7    A
27  S_2  C_3  2303         F  street_7  190   99  65.9    C
28  S_2  C_3  2304         F  street_6  164   81  95.5   A-
29  S_2  C_3  2305         M  street_4  187   73  48.9    B
30  S_2  C_4  2401         F       NaN  192   62  45.3    A
31  S_2  C_4  2402         M  street_7  166   82  48.7    B
32  S_2  C_4  2403         F  street_6  158   60  59.7   B+
33  S_2  C_4  2404         F  street_2  160   84  97.0    B
34  S_2  C_4  2405         F       NaN  193   54 -47.6    B

### 1. head和tail

In [293]:
df.head()  # 默认获取前5条数据
df.head(8)  # 前8条数据

    学校   班级    编号        性别        地址   身高  体重  数学成绩 物理成绩
0  S_1  C_1  1101  street_1  street_1  173  63  34.0   A+
1  S_1  C_1  1102         F  street_2  192  73  32.5   B+
2  S_1  C_1  1103         M  street_2  186  82  87.2   B-
3  S_1  C_1  1104         F  street_2  167  81  80.4   B+
4  S_1  C_1  1105         F  street_4  159  64  84.8   B+
5  S_1  C_2  1201         M  street_5  188  68  97.0   A-
6  S_1  C_2  1202         F  street_4  176  94  63.5   B-
7  S_1  C_2  1203         M  street_6  160  53  58.8   A+

In [294]:
df.tail()  # 后5条数据
df.tail(8)  # 后8条数据

     学校   班级    编号 性别        地址   身高  体重  数学成绩 物理成绩
27  S_2  C_3  2303  F  street_7  190  99  65.9    C
28  S_2  C_3  2304  F  street_6  164  81  95.5   A-
29  S_2  C_3  2305  M  street_4  187  73  48.9    B
30  S_2  C_4  2401  F       NaN  192  62  45.3    A
31  S_2  C_4  2402  M  street_7  166  82  48.7    B
32  S_2  C_4  2403  F  street_6  158  60  59.7   B+
33  S_2  C_4  2404  F  street_2  160  84  97.0    B
34  S_2  C_4  2405  F       NaN  193  54 -47.6    B

### 2. unique和nunique

#### nunique显示有多少个唯一值

In [295]:
df

     学校   班级    编号        性别        地址   身高   体重  数学成绩 物理成绩
0   S_1  C_1  1101  street_1  street_1  173   63  34.0   A+
1   S_1  C_1  1102         F  street_2  192   73  32.5   B+
2   S_1  C_1  1103         M  street_2  186   82  87.2   B-
3   S_1  C_1  1104         F  street_2  167   81  80.4   B+
4   S_1  C_1  1105         F  street_4  159   64  84.8   B+
5   S_1  C_2  1201         M  street_5  188   68  97.0   A-
6   S_1  C_2  1202         F  street_4  176   94  63.5   B-
7   S_1  C_2  1203         M  street_6  160   53  58.8   A+
8   S_1  C_2  1204         F  street_5  162   63  33.8    B
9   S_1  C_2  1205         F  street_6  167   63  68.4   B-
10  S_1  C_3  1301         M  street_4  161   68  31.5   B+
11  S_1  C_3  1302         F  street_1  175   57  87.7   A-
12  S_1  C_3  1303         M  street_7  188   82  49.7    B
13  S_1  C_3  1304         M  street_2  195   70  85.2    A
14  S_1  C_3  1305         F  street_5  187   69  61.7   B-
15  S_2  C_1  2101         M  street_7  174   84  83.3    C
16  S_2  C_1  2102         F  street_6  161   61  50.6   B+
17  S_2  C_1  2103         M  street_4  157   61  52.5   B-
18  S_2  C_1  2104         F  street_5  159   97  72.2   B+
19  S_2  C_1  2105         M  street_4  170   81  34.2    A
20  S_2  C_2  2201         M  street_5  193  100  39.1    B
21  S_2  C_2  2202         F  street_7  194   77  68.5   B+
22  S_2  C_2  2203         M  street_4  155   91  73.8   A+
23  S_2  C_2  2204         M  street_1  175   74  47.2   B-
24  S_2  C_2  2205         F  street_7  183   76  85.4    B
25  S_2  C_3  2301         F  street_4  157   78  72.3   B+
26  S_2  C_3  2302         M  street_5  171   88  32.7    A
27  S_2  C_3  2303         F  street_7  190   99  65.9    C
28  S_2  C_3  2304         F  street_6  164   81  95.5   A-
29  S_2  C_3  2305         M  street_4  187   73  48.9    B
30  S_2  C_4  2401         F       NaN  192   62  45.3    A
31  S_2  C_4  2402         M  street_7  166   82  48.7    B
32  S_2  C_4  2403         F  street_6  158   60  59.7   B+
33  S_2  C_4  2404         F  street_2  160   84  97.0    B
34  S_2  C_4  2405         F       NaN  193   54 -47.6    B

In [296]:
df['物理成绩'].unique()

array(['A+', 'B+', 'B-', 'A-', 'B', 'A', 'C'], dtype=object)

#### unique显示所有的唯一值

In [297]:
# number of unique   ->   n-unique   ->   nunique
df['物理成绩'].nunique()

7

### 3. count和value_counts

#### count返回非缺失值元素个数

In [298]:
df['物理成绩'].count()

35

In [299]:
# 问：count和size的区别？
# 答：count()计算的是value数值（非缺失值），size计算的是个数
import pandas as pd
s1 = pd.Series([1,2,3,4], index=[1,2,3,4])
s2 = pd.Series([1,2,3,4], index=[2,3,4,5])
s3 = s1 + s2
s3
# 对比以下结果

1    NaN
2    3.0
3    5.0
4    7.0
5    NaN
dtype: float64

#### value_counts返回每个元素有多少个

In [300]:
df['物理成绩'].value_counts()

B+    9
B     8
B-    6
A     4
A+    3
A-    3
C     2
Name: 物理成绩, dtype: int64

### 4. info和describe

#### info函数返回有哪些列、每列的类型、有多少非缺失值

In [301]:
df.info()  # infomation

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   学校      35 non-null     object
 1   班级      35 non-null     object
 2   编号      35 non-null     int64
 3   性别      35 non-null     object
 4   地址      33 non-null     object
 5   身高      35 non-null     int64
 6   体重      35 non-null     int64
 7   数学成绩    35 non-null     float64
 8   物理成绩    35 non-null     object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.6+ KB

#### describe默认统计数值型数据的各个统计量

In [302]:
df.describe()

               编号          身高          体重       数学成绩
count    35.00000   35.000000   35.000000  35.000000
mean   1803.00000  174.142857   74.657143  59.468571
std     536.87741   13.541098   12.895377  27.797913
min    1101.00000  155.000000   53.000000 -47.600000
25%    1204.50000  161.000000   63.000000  46.250000
50%    2103.00000  173.000000   74.000000  61.700000
75%    2301.50000  187.500000   82.000000  81.850000
max    2405.00000  195.000000  100.000000  97.000000

In [303]:
s = pd.Series([0,1,2,3,4])
s.to_frame().describe()

              0
count  5.000000
mean   2.000000
std    1.581139
min    0.000000
25%    1.000000
50%    2.000000
75%    3.000000
max    4.000000

#### 可以自行选择分位数

In [304]:
# 查看个数、平均值、样本标准差、最小值、
df.describe(percentiles=[.05, .25, .75, .95])

               编号          身高          体重       数学成绩
count    35.00000   35.000000   35.000000  35.000000
mean   1803.00000  174.142857   74.657143  59.468571
std     536.87741   13.541098   12.895377  27.797913
min    1101.00000  155.000000   53.000000 -47.600000
5%     1102.70000  157.000000   56.100000  32.200000
25%    1204.50000  161.000000   63.000000  46.250000
50%    2103.00000  173.000000   74.000000  61.700000
75%    2301.50000  187.500000   82.000000  81.850000
95%    2403.30000  193.300000   97.600000  95.950000
max    2405.00000  195.000000  100.000000  97.000000

#### 对于非数值型也可以用describe函数

In [305]:
# 查看物理成绩的总个数（非空）、去重后的个数、什么等级的人最多、有多少个
# freq - frequency
df['物理成绩'].describe()
df

     学校   班级    编号        性别        地址   身高   体重  数学成绩 物理成绩
0   S_1  C_1  1101  street_1  street_1  173   63  34.0   A+
1   S_1  C_1  1102         F  street_2  192   73  32.5   B+
2   S_1  C_1  1103         M  street_2  186   82  87.2   B-
3   S_1  C_1  1104         F  street_2  167   81  80.4   B+
4   S_1  C_1  1105         F  street_4  159   64  84.8   B+
5   S_1  C_2  1201         M  street_5  188   68  97.0   A-
6   S_1  C_2  1202         F  street_4  176   94  63.5   B-
7   S_1  C_2  1203         M  street_6  160   53  58.8   A+
8   S_1  C_2  1204         F  street_5  162   63  33.8    B
9   S_1  C_2  1205         F  street_6  167   63  68.4   B-
10  S_1  C_3  1301         M  street_4  161   68  31.5   B+
11  S_1  C_3  1302         F  street_1  175   57  87.7   A-
12  S_1  C_3  1303         M  street_7  188   82  49.7    B
13  S_1  C_3  1304         M  street_2  195   70  85.2    A
14  S_1  C_3  1305         F  street_5  187   69  61.7   B-
15  S_2  C_1  2101         M  street_7  174   84  83.3    C
16  S_2  C_1  2102         F  street_6  161   61  50.6   B+
17  S_2  C_1  2103         M  street_4  157   61  52.5   B-
18  S_2  C_1  2104         F  street_5  159   97  72.2   B+
19  S_2  C_1  2105         M  street_4  170   81  34.2    A
20  S_2  C_2  2201         M  street_5  193  100  39.1    B
21  S_2  C_2  2202         F  street_7  194   77  68.5   B+
22  S_2  C_2  2203         M  street_4  155   91  73.8   A+
23  S_2  C_2  2204         M  street_1  175   74  47.2   B-
24  S_2  C_2  2205         F  street_7  183   76  85.4    B
25  S_2  C_3  2301         F  street_4  157   78  72.3   B+
26  S_2  C_3  2302         M  street_5  171   88  32.7    A
27  S_2  C_3  2303         F  street_7  190   99  65.9    C
28  S_2  C_3  2304         F  street_6  164   81  95.5   A-
29  S_2  C_3  2305         M  street_4  187   73  48.9    B
30  S_2  C_4  2401         F       NaN  192   62  45.3    A
31  S_2  C_4  2402         M  street_7  166   82  48.7    B
32  S_2  C_4  2403         F  street_6  158   60  59.7   B+
33  S_2  C_4  2404         F  street_2  160   84  97.0    B
34  S_2  C_4  2405         F       NaN  193   54 -47.6    B

### 5. idxmax和nlargest
#### idxmax函数返回最大值所在索引，在某些情况下特别适用，idxmin功能类似

In [306]:
# 数学成绩最高的人的id是多少？
df['数学成绩'].idxmax()

5

In [307]:
df

     学校   班级    编号        性别        地址   身高   体重  数学成绩 物理成绩
0   S_1  C_1  1101  street_1  street_1  173   63  34.0   A+
1   S_1  C_1  1102         F  street_2  192   73  32.5   B+
2   S_1  C_1  1103         M  street_2  186   82  87.2   B-
3   S_1  C_1  1104         F  street_2  167   81  80.4   B+
4   S_1  C_1  1105         F  street_4  159   64  84.8   B+
5   S_1  C_2  1201         M  street_5  188   68  97.0   A-
6   S_1  C_2  1202         F  street_4  176   94  63.5   B-
7   S_1  C_2  1203         M  street_6  160   53  58.8   A+
8   S_1  C_2  1204         F  street_5  162   63  33.8    B
9   S_1  C_2  1205         F  street_6  167   63  68.4   B-
10  S_1  C_3  1301         M  street_4  161   68  31.5   B+
11  S_1  C_3  1302         F  street_1  175   57  87.7   A-
12  S_1  C_3  1303         M  street_7  188   82  49.7    B
13  S_1  C_3  1304         M  street_2  195   70  85.2    A
14  S_1  C_3  1305         F  street_5  187   69  61.7   B-
15  S_2  C_1  2101         M  street_7  174   84  83.3    C
16  S_2  C_1  2102         F  street_6  161   61  50.6   B+
17  S_2  C_1  2103         M  street_4  157   61  52.5   B-
18  S_2  C_1  2104         F  street_5  159   97  72.2   B+
19  S_2  C_1  2105         M  street_4  170   81  34.2    A
20  S_2  C_2  2201         M  street_5  193  100  39.1    B
21  S_2  C_2  2202         F  street_7  194   77  68.5   B+
22  S_2  C_2  2203         M  street_4  155   91  73.8   A+
23  S_2  C_2  2204         M  street_1  175   74  47.2   B-
24  S_2  C_2  2205         F  street_7  183   76  85.4    B
25  S_2  C_3  2301         F  street_4  157   78  72.3   B+
26  S_2  C_3  2302         M  street_5  171   88  32.7    A
27  S_2  C_3  2303         F  street_7  190   99  65.9    C
28  S_2  C_3  2304         F  street_6  164   81  95.5   A-
29  S_2  C_3  2305         M  street_4  187   73  48.9    B
30  S_2  C_4  2401         F       NaN  192   62  45.3    A
31  S_2  C_4  2402         M  street_7  166   82  48.7    B
32  S_2  C_4  2403         F  street_6  158   60  59.7   B+
33  S_2  C_4  2404         F  street_2  160   84  97.0    B
34  S_2  C_4  2405         F       NaN  193   54 -47.6    B

#### nlargest函数返回前几个大的元素值，nsmallest功能类似

In [308]:
# 查看数学成绩最高的三个人
df['数学成绩'].nlargest(3)  # 取前三个最大的值，以及它们的索引

5     97.0
33    97.0
28    95.5
Name: 数学成绩, dtype: float64

### 6. clip和replace

#### clip和replace是两类替换函数
#### clip是对超过或者低于某些值的数进行截断

In [309]:
df['数学成绩'].head(10)

0    34.0
1    32.5
2    87.2
3    80.4
4    84.8
5    97.0
6    63.5
7    58.8
8    33.8
9    68.4
Name: 数学成绩, dtype: float64

In [310]:
# 如果成绩小于33则设为33，大于70则设为70
# clip：剪去;修剪
df['数学成绩'].head(10).clip(33,70)

0    34.0
1    33.0
2    70.0
3    70.0
4    70.0
5    70.0
6    63.5
7    58.8
8    33.8
9    68.4
Name: 数学成绩, dtype: float64

#### replace是对某些值进行替换

In [311]:
df['地址'].head()

0    street_1
1    street_2
2    street_2
3    street_2
4    street_4
Name: 地址, dtype: object

In [312]:
df['地址']

0     street_1
1     street_2
2     street_2
3     street_2
4     street_4
5     street_5
6     street_4
7     street_6
8     street_5
9     street_6
10    street_4
11    street_1
12    street_7
13    street_2
14    street_5
15    street_7
16    street_6
17    street_4
18    street_5
19    street_4
20    street_5
21    street_7
22    street_4
23    street_1
24    street_7
25    street_4
26    street_5
27    street_7
28    street_6
29    street_4
30         NaN
31    street_7
32    street_6
33    street_2
34         NaN
Name: 地址, dtype: object

In [313]:
df = pd.read_csv('Data/table.csv')
# 单独更换
# df['地址'].replace('street_1','one').head()
# 多个一起更换
# df['地址'].replace(['street_1','street_2'],['one','two']).head()
# 也可以直接在表中更换，但此种方式（没有指定列）不如下面的使用字典方式更合适
# df.replace(['street_1','street_2'],['one','two']).head()
# 使用字典格式直接在表中更换
df.replace({'地址':{'street_1':'one','street_2':'two'}}).head()

    学校   班级    编号        性别        地址   身高  体重  数学成绩 物理成绩
0  S_1  C_1  1101  street_1       one  173  63  34.0   A+
1  S_1  C_1  1102         F       two  192  73  32.5   B+
2  S_1  C_1  1103         M       two  186  82  87.2   B-
3  S_1  C_1  1104         F       two  167  81  80.4   B+
4  S_1  C_1  1105         F  street_4  159  64  84.8   B+

### 7. apply函数
#### apply是一个自由度很高的函数，后续还要提到
#### 对于Series，它可以迭代每一列的值操作：

In [314]:
# 将所有数学成绩变成字符串，在加上感叹号
df['数学成绩'].apply(lambda x:str(x)+'!').head() # 可以使用lambda表达式，也可以使用函数

0    34.0!
1    32.5!
2    87.2!
3    80.4!
4    84.8!
Name: 数学成绩, dtype: object

#### 对于DataFrame，它在默认axis=0下可以迭代每一个列操作：

In [315]:
df.apply(lambda x:x.apply(lambda y:str(y)+'!')).head()

     学校    班级     编号         性别         地址    身高   体重   数学成绩 物理成绩
0  S_1!  C_1!  1101!  street_1!  street_1!  173!  63!  34.0!  A+!
1  S_1!  C_1!  1102!         F!  street_2!  192!  73!  32.5!  B+!
2  S_1!  C_1!  1103!         M!  street_2!  186!  82!  87.2!  B-!
3  S_1!  C_1!  1104!         F!  street_2!  167!  81!  80.4!  B+!
4  S_1!  C_1!  1105!         F!  street_4!  159!  64!  84.8!  B+!

## 四、排序

### 1. 索引排序

In [316]:
# 将数学成绩这一列设置为索引
df.set_index('数学成绩') #set_index函数可以设置索引，将在下一章详细介绍

        学校   班级    编号        性别        地址   身高   体重 物理成绩
数学成绩
 34.0  S_1  C_1  1101  street_1  street_1  173   63   A+
 32.5  S_1  C_1  1102         F  street_2  192   73   B+
 87.2  S_1  C_1  1103         M  street_2  186   82   B-
 80.4  S_1  C_1  1104         F  street_2  167   81   B+
 84.8  S_1  C_1  1105         F  street_4  159   64   B+
 97.0  S_1  C_2  1201         M  street_5  188   68   A-
 63.5  S_1  C_2  1202         F  street_4  176   94   B-
 58.8  S_1  C_2  1203         M  street_6  160   53   A+
 33.8  S_1  C_2  1204         F  street_5  162   63    B
 68.4  S_1  C_2  1205         F  street_6  167   63   B-
 31.5  S_1  C_3  1301         M  street_4  161   68   B+
 87.7  S_1  C_3  1302         F  street_1  175   57   A-
 49.7  S_1  C_3  1303         M  street_7  188   82    B
 85.2  S_1  C_3  1304         M  street_2  195   70    A
 61.7  S_1  C_3  1305         F  street_5  187   69   B-
 83.3  S_2  C_1  2101         M  street_7  174   84    C
 50.6  S_2  C_1  2102         F  street_6  161   61   B+
 52.5  S_2  C_1  2103         M  street_4  157   61   B-
 72.2  S_2  C_1  2104         F  street_5  159   97   B+
 34.2  S_2  C_1  2105         M  street_4  170   81    A
 39.1  S_2  C_2  2201         M  street_5  193  100    B
 68.5  S_2  C_2  2202         F  street_7  194   77   B+
 73.8  S_2  C_2  2203         M  street_4  155   91   A+
 47.2  S_2  C_2  2204         M  street_1  175   74   B-
 85.4  S_2  C_2  2205         F  street_7  183   76    B
 72.3  S_2  C_3  2301         F  street_4  157   78   B+
 32.7  S_2  C_3  2302         M  street_5  171   88    A
 65.9  S_2  C_3  2303         F  street_7  190   99    C
 95.5  S_2  C_3  2304         F  street_6  164   81   A-
 48.9  S_2  C_3  2305         M  street_4  187   73    B
 45.3  S_2  C_4  2401         F       NaN  192   62    A
 48.7  S_2  C_4  2402         M  street_7  166   82    B
 59.7  S_2  C_4  2403         F  street_6  158   60   B+
 97.0  S_2  C_4  2404         F  street_2  160   84    B
-47.6  S_2  C_4  2405         F       NaN  193   54    B

In [317]:
# 对数学成绩排序，默认升序排序，ascending=False为降序
df.set_index('数学成绩').sort_index().head(10)

        学校   班级    编号        性别        地址   身高   体重 物理成绩
数学成绩
-47.6  S_2  C_4  2405         F       NaN  193   54    B
 31.5  S_1  C_3  1301         M  street_4  161   68   B+
 32.5  S_1  C_1  1102         F  street_2  192   73   B+
 32.7  S_2  C_3  2302         M  street_5  171   88    A
 33.8  S_1  C_2  1204         F  street_5  162   63    B
 34.0  S_1  C_1  1101  street_1  street_1  173   63   A+
 34.2  S_2  C_1  2105         M  street_4  170   81    A
 39.1  S_2  C_2  2201         M  street_5  193  100    B
 45.3  S_2  C_4  2401         F       NaN  192   62    A
 47.2  S_2  C_2  2204         M  street_1  175   74   B-

In [318]:
# 降序排序

       学校   班级    编号 性别        地址   身高  体重 物理成绩
数学成绩
97.0  S_2  C_4  2404  F  street_2  160  84    B
97.0  S_1  C_2  1201  M  street_5  188  68   A-
95.5  S_2  C_3  2304  F  street_6  164  81   A-
87.7  S_1  C_3  1302  F  street_1  175  57   A-
87.2  S_1  C_1  1103  M  street_2  186  82   B-
85.4  S_2  C_2  2205  F  street_7  183  76    B
85.2  S_1  C_3  1304  M  street_2  195  70    A
84.8  S_1  C_1  1105  F  street_4  159  64   B+
83.3  S_2  C_1  2101  M  street_7  174  84    C
80.4  S_1  C_1  1104  F  street_2  167  81   B+

In [ ]:
# 正序排序
df.set_index('数学成绩').sort_index(ascending=False).head(10)

# 倒序排序
df.set_index('数学成绩').sort_index(ascending=True).head(10)

### 2. 值排序

In [319]:
# 在不更改索引的情况下，按照数学成绩升序排序
df.sort_values(by='数学成绩').head(10)

     学校   班级    编号        性别        地址   身高   体重  数学成绩 物理成绩
34  S_2  C_4  2405         F       NaN  193   54 -47.6    B
10  S_1  C_3  1301         M  street_4  161   68  31.5   B+
1   S_1  C_1  1102         F  street_2  192   73  32.5   B+
26  S_2  C_3  2302         M  street_5  171   88  32.7    A
8   S_1  C_2  1204         F  street_5  162   63  33.8    B
0   S_1  C_1  1101  street_1  street_1  173   63  34.0   A+
19  S_2  C_1  2105         M  street_4  170   81  34.2    A
20  S_2  C_2  2201         M  street_5  193  100  39.1    B
30  S_2  C_4  2401         F       NaN  192   62  45.3    A
23  S_2  C_2  2204         M  street_1  175   74  47.2   B-

In [320]:
df

     学校   班级    编号        性别        地址   身高   体重  数学成绩 物理成绩
0   S_1  C_1  1101  street_1  street_1  173   63  34.0   A+
1   S_1  C_1  1102         F  street_2  192   73  32.5   B+
2   S_1  C_1  1103         M  street_2  186   82  87.2   B-
3   S_1  C_1  1104         F  street_2  167   81  80.4   B+
4   S_1  C_1  1105         F  street_4  159   64  84.8   B+
5   S_1  C_2  1201         M  street_5  188   68  97.0   A-
6   S_1  C_2  1202         F  street_4  176   94  63.5   B-
7   S_1  C_2  1203         M  street_6  160   53  58.8   A+
8   S_1  C_2  1204         F  street_5  162   63  33.8    B
9   S_1  C_2  1205         F  street_6  167   63  68.4   B-
10  S_1  C_3  1301         M  street_4  161   68  31.5   B+
11  S_1  C_3  1302         F  street_1  175   57  87.7   A-
12  S_1  C_3  1303         M  street_7  188   82  49.7    B
13  S_1  C_3  1304         M  street_2  195   70  85.2    A
14  S_1  C_3  1305         F  street_5  187   69  61.7   B-
15  S_2  C_1  2101         M  street_7  174   84  83.3    C
16  S_2  C_1  2102         F  street_6  161   61  50.6   B+
17  S_2  C_1  2103         M  street_4  157   61  52.5   B-
18  S_2  C_1  2104         F  street_5  159   97  72.2   B+
19  S_2  C_1  2105         M  street_4  170   81  34.2    A
20  S_2  C_2  2201         M  street_5  193  100  39.1    B
21  S_2  C_2  2202         F  street_7  194   77  68.5   B+
22  S_2  C_2  2203         M  street_4  155   91  73.8   A+
23  S_2  C_2  2204         M  street_1  175   74  47.2   B-
24  S_2  C_2  2205         F  street_7  183   76  85.4    B
25  S_2  C_3  2301         F  street_4  157   78  72.3   B+
26  S_2  C_3  2302         M  street_5  171   88  32.7    A
27  S_2  C_3  2303         F  street_7  190   99  65.9    C
28  S_2  C_3  2304         F  street_6  164   81  95.5   A-
29  S_2  C_3  2305         M  street_4  187   73  48.9    B
30  S_2  C_4  2401         F       NaN  192   62  45.3    A
31  S_2  C_4  2402         M  street_7  166   82  48.7    B
32  S_2  C_4  2403         F  street_6  158   60  59.7   B+
33  S_2  C_4  2404         F  street_2  160   84  97.0    B
34  S_2  C_4  2405         F       NaN  193   54 -47.6    B

#### 多个值排序，即先对第一层排，在第一层相同的情况下对第二层排序

In [321]:
# df.sort_values(by=['Height'])
df.sort_values(by=['Address','Height']).head(10)

KeyError: 'Address'

#### 【练习一】 现有一份关于美剧《权力的游戏》剧本的数据集，请解决以下问题：
#### （a）在所有的数据中，一共出现了多少人物？
#### （b）以单元格计数（即简单把一个单元格视作一句），谁说了最多的话？
#### （c）以单词计数，谁说了最多的单词？（不是单句单词最多，是指每人说过单词的总数最多，为了简便，只以空格为单词分界点，不考虑其他情况）

In [ ]:
df = pd.read_csv('data/Game_of_Thrones_Script.csv')
df.head()

In [ ]:
df['Name'].nunique()

In [ ]:
# （b）谁说的话最多？
# df['Name'].value_counts()
df['Name'].value_counts().index[0]

In [ ]:
# （c）谁说的单词最多？
df['Sentence'].apply(lambda x:len(x.split(' '))).groupby(df['Name']).sum().sort_values(ascending=False).index[0]