# 第1章 Pandas基础

In [1]:
# 导包
import pandas as pd
import numpy as np

#### 查看Pandas版本

In [2]:
pd.__version__

'1.2.4'

## 一、文件读取与写入
### 1. 读取
#### （a）csv格式

In [2]:
df = pd.read_csv('data/students.csv')
df.head()

   Unnamed: 0  Unnamed: 0.1  序号   姓名 性别  年龄                   邮箱     组名
0           0             0   1  贾靖程  女  18  410107304610@qq.com     黑马
1           1             1   2  吴俊岳  男  18    5105963415@qq.com     琼玉
2           2             2   3  王浩羽  男  18   10661018936@qq.com    第一组
3           3             3   4  吕梦丽  女  18    4078518108@qq.com     黑马
4           4             4   5  牛皓冬  男  18   10279694101@qq.com  style

#### （b）txt格式

In [4]:
df_txt = pd.read_table('data/table.txt') #可设置sep分隔符参数
df_txt

   col1 col2  col3    col4
0     2    a   1.4   apple
1     3    b   3.4  banana
2     6    c   2.5  orange
3     5    d   3.2   lemon

#### （c）xls或xlsx格式

In [5]:
#需要安装xlrd包
df_excel = pd.read_excel('data/table.xlsx')
df_excel.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

### 2. 写入

#### （a）csv格式

In [6]:
df.to_csv('data/new_table.csv')
#df.to_csv('data/new_table.csv', index=False) #保存时除去行索引

#### （b）xls或xlsx格式

In [7]:
#需要安装openpyxl
df.to_excel('data/new_table2.xlsx', sheet_name='Sheet1')

## 二、基本数据结构
### 1. Series
#### （a）创建一个Series

#### 对于一个Series，其中最常用的属性为值（values），索引（index），名字（name），类型（dtype）

In [6]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'],name='Series1',dtype='float64')
s

a    1.537463
b    0.280665
c    1.493251
d   -0.343471
e   -0.108443
Name: Series1, dtype: float64

#### （b）访问Series属性

In [9]:
s.values

array([ 0.83787452, -2.2331825 ,  0.01737016, -1.77662522,  1.33546943])

In [7]:
s.name

'Series1'

In [11]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
s.dtype

dtype('float64')

#### （c）取出某一个元素
#### 将在第2章详细讨论索引的应用，这里先大致了解

In [13]:
s['a']
s[0:9]

0.837874516241799

#### （d）调用方法

In [14]:
s.mean() # 平均值

-0.3638187233888834

In [8]:
dir(s)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_attrs',
 '_binop',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_cython_table',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_item_cache',
 '_ix',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'a',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'b',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'c',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'd',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'e',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

#### Series有相当多的方法可以调用：

In [15]:
print([attr for attr in dir(s) if not attr.startswith('_')])

['T', 'a', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'b', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'c', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'd', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'e', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

### 2. DataFrame
#### （a）创建一个DataFrame

In [25]:
dic = {'col1':list('abcde'),'col2':range(5,10),'col3':[1.3,2.5,3.6,4.6,5.8]}
df = pd.DataFrame(dic,index=list('一二三四五'))
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8

#### （b）从DataFrame取出一列为Series

In [17]:
df['col1']

一    a
二    b
三    c
四    d
五    e
Name: col1, dtype: object

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
type(df['col1'])

pandas.core.series.Series

#### （c）修改行或列名

In [20]:
df.rename(index={'一':'one'},columns={'col1':'new_col1'})

    new_col1  col2  col3
one        a     5   1.3
二          b     6   2.5
三          c     7   3.6
四          d     8   4.6
五          e     9   5.8

#### （d）调用属性和方法

In [21]:
df.index

Index(['一', '二', '三', '四', '五'], dtype='object')

In [22]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [23]:
df.values

array([['a', 5, 1.3],
       ['b', 6, 2.5],
       ['c', 7, 3.6],
       ['d', 8, 4.6],
       ['e', 9, 5.8]], dtype=object)

In [24]:
df.shape

(5, 3)

In [25]:
df.mean()  # 求平均值

col2    7.00
col3    3.56
dtype: float64

#### （e）索引对齐特性
#### 这是Pandas中非常强大的特性，简单理解就是“索引相同的元素进行操作”

In [11]:
# 索引相同的元素进行操作
df1 = pd.DataFrame({"A":[1,2,3]},index=[1,2,3])
df2 = pd.DataFrame({"A":[4,5,6]},index=[1,2,3])
print(df1-df2)

df3 = pd.DataFrame({"A":[4,5,6]},index=[3,2,1])
df3-df1

   A
1 -3
2 -3
3 -3

   A
1  5
2  3
3  1

#### （f）列的删除与添加
#### 对于删除而言，可以使用drop函数或del或pop

In [15]:
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8

In [18]:
df.drop(index='五') #删除第五行，设置inplace=True后会直接在原DataFrame中改动

In [19]:
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6

In [20]:
df.drop(columns='col1') # 删除第1列

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6

In [23]:
df.drop(index='一',columns='col2')  # 删除第一行和第2列

  col1  col3
二    b   2.5
三    c   3.6
四    d   4.6

In [26]:
df['col1']=[1,2,3,4,5]
del df['col1']
df

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

In [28]:
a = 1
print(a)
del a
print(a)

1

NameError: name 'a' is not defined

#### pop方法直接在原来的DataFrame上操作，且返回被删除的列，与python中的pop函数类似

In [32]:
df['col1']=[2,3,4,5,6]
df.pop('col1')

一    2
二    3
三    4
四    5
五    6
Name: col1, dtype: int64

In [33]:
df

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

In [3]:
df1=pd.DataFrame([1,2,3], columns=['A'],index=[1,2,3])
df1

   A
1  1
2  2
3  3

#### 可以直接增加新的列，也可以使用assign方法

In [2]:
df1['B']=list('abc')
df1

NameError: name 'df1' is not defined

In [1]:
import pandas as pd
new_c = pd.Series(list('def'))
print(new_c)
# assign:分配，指派
df1.assign(C=new_c)
#思考：为什么会出现NaN？

0    d
1    e
2    f
dtype: object

NameError: name 'df1' is not defined

In [28]:
# df3 = pd.DataFrame({"a":[1,2,3]},index=[0,1,2])
df3 = pd.DataFrame({"A":[1,2,3]},index=[1,2,3])
df3

   A
1  1
2  2
3  3

In [29]:
df3.assign(B=pd.Series(list('abc')))  # a的索引是0，b的索引是1，c的索引是2

   A    B
1  1    b
2  2    c
3  3  NaN

#### 但assign方法不会对原DataFrame做修改

In [39]:
df1

   A  B
1  1  a
2  2  b
3  3  c

#### （g）根据类型选择列

In [40]:
df

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

In [41]:
df.select_dtypes(include=['number']).head()

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

In [1]:
df.select_dtypes(include=['float']).head()

NameError: name 'df' is not defined

In [43]:
df.select_dtypes(include=['int'])
df.select_dtypes(include=['int']).head()

   col2
一     5
二     6
三     7
四     8
五     9

#### （h）将Series转换为DataFrame

In [31]:
s = df.mean()
s.name='A'
s

col2    7.00
col3    3.56
Name: A, dtype: float64

In [32]:
s.to_frame()  # 转为DataFrame

         A
col2  7.00
col3  3.56

#### 使用T符号可以转置

In [46]:
s.to_frame().T

              col2  col3
to_DataFrame   7.0  3.56

## 三、常用基本函数

In [33]:
df = pd.read_csv('data/table.csv')
df

     学校   班级    编号 性别        地址   身高   体重  数学成绩 物理成绩
0   S_1  C_1  1101  M  street_1  173   63  34.0   A+
1   S_1  C_1  1102  F  street_2  192   73  32.5   B+
2   S_1  C_1  1103  M  street_2  186   82  87.2   B+
3   S_1  C_1  1104  F  street_2  167   81  80.4   B-
4   S_1  C_1  1105  F  street_4  159   64  84.8   B+
5   S_1  C_2  1201  M  street_5  188   68  97.0   A-
6   S_1  C_2  1202  F  street_4  176   94  63.5   B-
7   S_1  C_2  1203  M  street_6  160   53  58.8   A+
8   S_1  C_2  1204  F  street_5  162   63  33.8    B
9   S_1  C_2  1205  F  street_6  167   63  68.4   B-
10  S_1  C_3  1301  M  street_4  161   68  31.5   B+
11  S_1  C_3  1302  F  street_1  175   57  87.7   A-
12  S_1  C_3  1303  M  street_7  188   82  49.7    B
13  S_1  C_3  1304  M  street_2  195   70  85.2    A
14  S_1  C_3  1305  F  street_5  187   69  61.7   B-
15  S_2  C_1  2101  M  street_7  174   84  83.3    C
16  S_2  C_1  2102  F  street_6  161   61  50.6   B+
17  S_2  C_1  2103  M  street_4  157   61  52.5   B-
18  S_2  C_1  2104  F  street_5  159   97  72.2   B+
19  S_2  C_1  2105  M  street_4  170   81  34.2    A
20  S_2  C_2  2201  M  street_5  193  100  39.1    B
21  S_2  C_2  2202  F  street_7  194   77  68.5   B+
22  S_2  C_2  2203  M  street_4  155   91  73.8   A+
23  S_2  C_2  2204  M  street_1  175   74  47.2   B-
24  S_2  C_2  2205  F  street_7  183   76  85.4    B
25  S_2  C_3  2301  F  street_4  157   78  72.3   B+
26  S_2  C_3  2302  M  street_5  171   88  32.7    A
27  S_2  C_3  2303  F  street_7  190   99  65.9    C
28  S_2  C_3  2304  F  street_6  164   81  95.5   A-
29  S_2  C_3  2305  M  street_4  187   73  48.9    B
30  S_2  C_4  2401  F       NaN  192   62  45.3    A
31  S_2  C_4  2402  M  street_7  166   82  48.7    B
32  S_2  C_4  2403  F  street_6  158   60  59.7   B+
33  S_2  C_4  2404  F  street_2  160   84  97.0    B
34  S_2  C_4  2405  F       NaN  193   54 -47.6    B

### 1. head和tail

In [48]:
df.head()  # 默认获取前5条数据
df.head(8)  # 前8条数据

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+
5    S_1   C_2  1201      M  street_5     188      68  97.0      A-
6    S_1   C_2  1202      F  street_4     176      94  63.5      B-
7    S_1   C_2  1203      M  street_6     160      53  58.8      A+

In [49]:
df.tail()  # 后5条数据
df.tail(8)  # 后8条数据

   School Class    ID Gender   Address  Height  Weight  Math Physics
27    S_2   C_3  2303      F  street_7     190      99  65.9       C
28    S_2   C_3  2304      F  street_6     164      81  95.5      A-
29    S_2   C_3  2305      M  street_4     187      73  48.9       B
30    S_2   C_4  2401      F       NaN     192      62  45.3       A
31    S_2   C_4  2402      M  street_7     166      82  48.7       B
32    S_2   C_4  2403      F  street_6     158      60  59.7      B+
33    S_2   C_4  2404      F  street_2     160      84  97.0       B
34    S_2   C_4  2405      F       NaN     193      54 -47.6       B

#### 可以指定n参数显示多少行

In [50]:
df

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
1     S_1   C_1  1102      F  street_2     192      73  32.5      B+
2     S_1   C_1  1103      M  street_2     186      82  87.2      B+
3     S_1   C_1  1104      F  street_2     167      81  80.4      B-
4     S_1   C_1  1105      F  street_4     159      64  84.8      B+
5     S_1   C_2  1201      M  street_5     188      68  97.0      A-
6     S_1   C_2  1202      F  street_4     176      94  63.5      B-
7     S_1   C_2  1203      M  street_6     160      53  58.8      A+
8     S_1   C_2  1204      F  street_5     162      63  33.8       B
9     S_1   C_2  1205      F  street_6     167      63  68.4      B-
10    S_1   C_3  1301      M  street_4     161      68  31.5      B+
11    S_1   C_3  1302      F  street_1     175      57  87.7      A-
12    S_1   C_3  1303      M  street_7     188      82  49.7       B
13    S_1   C_3  1304      M  street_2     195      70  85.2       A
14    S_1   C_3  1305      F  street_5     187      69  61.7      B-
15    S_2   C_1  2101      M  street_7     174      84  83.3       C
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
17    S_2   C_1  2103      M  street_4     157      61  52.5      B-
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
20    S_2   C_2  2201      M  street_5     193     100  39.1       B
21    S_2   C_2  2202      F  street_7     194      77  68.5      B+
22    S_2   C_2  2203      M  street_4     155      91  73.8      A+
23    S_2   C_2  2204      M  street_1     175      74  47.2      B-
24    S_2   C_2  2205      F  street_7     183      76  85.4       B
25    S_2   C_3  2301      F  street_4     157      78  72.3      B+
26    S_2   C_3  2302      M  street_5     171      88  32.7       A
27    S_2   C_3  2303      F  street_7     190      99  65.9       C
28    S_2   C_3  2304      F  street_6     164      81  95.5      A-
29    S_2   C_3  2305      M  street_4     187      73  48.9       B
30    S_2   C_4  2401      F       NaN     192      62  45.3       A
31    S_2   C_4  2402      M  street_7     166      82  48.7       B
32    S_2   C_4  2403      F  street_6     158      60  59.7      B+
33    S_2   C_4  2404      F  street_2     160      84  97.0       B
34    S_2   C_4  2405      F       NaN     193      54 -47.6       B