# 第2章 索引

In [15]:
import numpy as np
import pandas as pd
from IPython.display import display

In [16]:
def csv_to_df(csv_file, index_col=None):
    data = pd.DataFrame(pd.read_csv(csv_file, index_col=index_col, low_memory=False))
    return data

In [17]:
df = csv_to_df('data/table.csv', index_col='编号')

In [18]:
df.head()

       学校   班级        性别        地址   身高  体重  数学成绩 物理成绩
编号
1101  S_1  C_1  street_1  street_1  173  63  34.0   A+
1102  S_1  C_1         F  street_2  192  73  32.5   B+
1103  S_1  C_1         M  street_2  186  82  87.2   B-
1104  S_1  C_1         F  street_2  167  81  80.4   B+
1105  S_1  C_1         F  street_4  159  64  84.8   B+

## 一、单级索引
### 1. loc方法、iloc方法、[ ]操作符
#### 最常用的索引方法可能就是这三类，其中loc表示标签索引，iloc表示位置索引，[ ]也具有很大的便利性，各有特点
#### （a）loc方法
#### ① 单行索引：

In [19]:
# 打印编号为1103的数据
df.loc[1103]

学校           S_1
班级           C_1
性别             M
地址      street_2
身高           186
体重            82
数学成绩        87.2
物理成绩          B-
Name: 1103, dtype: object

#### ② 多行索引：

In [20]:
# # 打印编号为1102、2304的数据
df.loc[[1102,2304]]

       学校   班级 性别        地址   身高  体重  数学成绩 物理成绩
编号
1102  S_1  C_1  F  street_2  192  73  32.5   B+
2304  S_2  C_3  F  street_6  164  81  95.5   A-

#### 注意：loc是 左右全闭！！ 而不是左闭右开！！

In [21]:
# 从1304～2103
df.loc[1304:2103]

       学校   班级 性别        地址   身高  体重  数学成绩 物理成绩
编号
1304  S_1  C_3  M  street_2  195  70  85.2    A
1305  S_1  C_3  F  street_5  187  69  61.7   B-
2101  S_2  C_1  M  street_7  174  84  83.3    C
2102  S_2  C_1  F  street_6  161  61  50.6   B+
2103  S_2  C_1  M  street_4  157  61  52.5   B-

In [22]:
# 倒序
df.loc[2402::-1]

       学校   班级        性别        地址   身高   体重  数学成绩 物理成绩
编号
2402  S_2  C_4         M  street_7  166   82  48.7    B
2401  S_2  C_4         F       NaN  192   62  45.3    A
2305  S_2  C_3         M  street_4  187   73  48.9    B
2304  S_2  C_3         F  street_6  164   81  95.5   A-
2303  S_2  C_3         F  street_7  190   99  65.9    C
2302  S_2  C_3         M  street_5  171   88  32.7    A
2301  S_2  C_3         F  street_4  157   78  72.3   B+
2205  S_2  C_2         F  street_7  183   76  85.4    B
2204  S_2  C_2         M  street_1  175   74  47.2   B-
2203  S_2  C_2         M  street_4  155   91  73.8   A+
2202  S_2  C_2         F  street_7  194   77  68.5   B+
2201  S_2  C_2         M  street_5  193  100  39.1    B
2105  S_2  C_1         M  street_4  170   81  34.2    A
2104  S_2  C_1         F  street_5  159   97  72.2   B+
2103  S_2  C_1         M  street_4  157   61  52.5   B-
2102  S_2  C_1         F  street_6  161   61  50.6   B+
2101  S_2  C_1         M  street_7  174   84  83.3    C
1305  S_1  C_3         F  street_5  187   69  61.7   B-
1304  S_1  C_3         M  street_2  195   70  85.2    A
1303  S_1  C_3         M  street_7  188   82  49.7    B
1302  S_1  C_3         F  street_1  175   57  87.7   A-
1301  S_1  C_3         M  street_4  161   68  31.5   B+
1205  S_1  C_2         F  street_6  167   63  68.4   B-
1204  S_1  C_2         F  street_5  162   63  33.8    B
1203  S_1  C_2         M  street_6  160   53  58.8   A+
1202  S_1  C_2         F  street_4  176   94  63.5   B-
1201  S_1  C_2         M  street_5  188   68  97.0   A-
1105  S_1  C_1         F  street_4  159   64  84.8   B+
1104  S_1  C_1         F  street_2  167   81  80.4   B+
1103  S_1  C_1         M  street_2  186   82  87.2   B-
1102  S_1  C_1         F  street_2  192   73  32.5   B+
1101  S_1  C_1  street_1  street_1  173   63  34.0   A+

#### ③ 单列索引：

In [23]:
# 只看‘身高’列的数据
df.loc[:,'身高'].head()

编号
1101    173
1102    192
1103    186
1104    167
1105    159
Name: 身高, dtype: int64

#### ④ 多列索引：

In [24]:
# 查看身高、数学成绩这两列的数据
df.loc[:,['身高','数学成绩']]

       身高  数学成绩
编号
1101  173  34.0
1102  192  32.5
1103  186  87.2
1104  167  80.4
1105  159  84.8
1201  188  97.0
1202  176  63.5
1203  160  58.8
1204  162  33.8
1205  167  68.4
1301  161  31.5
1302  175  87.7
1303  188  49.7
1304  195  85.2
1305  187  61.7
2101  174  83.3
2102  161  50.6
2103  157  52.5
2104  159  72.2
2105  170  34.2
2201  193  39.1
2202  194  68.5
2203  155  73.8
2204  175  47.2
2205  183  85.4
2301  157  72.3
2302  171  32.7
2303  190  65.9
2304  164  95.5
2305  187  48.9
2401  192  45.3
2402  166  48.7
2403  158  59.7
2404  160  97.0
2405  193 -47.6

In [25]:
# 查看身高～数学成绩这几列的数据
df.loc[:,'身高':'数学成绩']

       身高   体重  数学成绩
编号
1101  173   63  34.0
1102  192   73  32.5
1103  186   82  87.2
1104  167   81  80.4
1105  159   64  84.8
1201  188   68  97.0
1202  176   94  63.5
1203  160   53  58.8
1204  162   63  33.8
1205  167   63  68.4
1301  161   68  31.5
1302  175   57  87.7
1303  188   82  49.7
1304  195   70  85.2
1305  187   69  61.7
2101  174   84  83.3
2102  161   61  50.6
2103  157   61  52.5
2104  159   97  72.2
2105  170   81  34.2
2201  193  100  39.1
2202  194   77  68.5
2203  155   91  73.8
2204  175   74  47.2
2205  183   76  85.4
2301  157   78  72.3
2302  171   88  32.7
2303  190   99  65.9
2304  164   81  95.5
2305  187   73  48.9
2401  192   62  45.3
2402  166   82  48.7
2403  158   60  59.7
2404  160   84  97.0
2405  193   54 -47.6

#### ⑤ 联合索引：

In [26]:
# 按照“三选一”的方式，查看1102～2401行、身高和数学成绩列的数据
df.loc[1102:2401:3,'身高':'数学成绩']

       身高  体重  数学成绩
编号
1102  192  73  32.5
1105  159  64  84.8
1203  160  53  58.8
1301  161  68  31.5
1304  195  70  85.2
2102  161  61  50.6
2105  170  81  34.2
2203  155  91  73.8
2301  157  78  72.3
2304  164  81  95.5

#### ⑥ 函数式索引：

In [27]:
# 选择性别为M的数据
# 方法一：之前的方法
df[df['性别']=='M'].head()
# 方法二：函数式索引
df.loc[lambda x:x['性别']=='M'].head()
#loc中使用的函数，传入参数就是前面的df

       学校   班级 性别        地址   身高  体重  数学成绩 物理成绩
编号
1103  S_1  C_1  M  street_2  186  82  87.2   B-
1201  S_1  C_2  M  street_5  188  68  97.0   A-
1203  S_1  C_2  M  street_6  160  53  58.8   A+
1301  S_1  C_3  M  street_4  161  68  31.5   B+
1303  S_1  C_3  M  street_7  188  82  49.7    B

In [28]:
# 使用函数的方式，查看1101、1103的数据
# 这里的例子表示，loc中能够传入函数，并且函数的输入值是df
def f():
    return [1101,1103]
df.loc[f]

TypeError: f() takes 0 positional arguments but 1 was given

#### ⑦ 布尔索引（将重点在第2节介绍）

In [ ]:
# 查看“地址”是street_7或street_4的数据
df.loc[df['地址'].isin(['street_7','street_4'])].head()

#### （b）iloc方法（注意与loc不同，切片右端点不包含）
#### ① 单行索引：

In [ ]:
df

In [ ]:
# 查看第3行的数据（从第0行开始）
df.iloc[3]

#### ② 多行索引：

In [ ]:
# 查看第3～5行的数据
df.iloc[3:5]

#### ③ 单列索引：

In [ ]:
df.iloc[:,3].head()

#### ④ 多列索引：

In [ ]:
df.iloc[:,7::-2].head()
df.iloc[:,6::-3].head()
df.iloc[:,6::-1].head()

#### ⑤ 混合索引：

In [ ]:
df.iloc[3::4,7::-2].head()

#### ⑥ 函数式索引：

In [ ]:
df.iloc[lambda x:[3]].head()
# df.iloc[3]

#### 小节：iloc中接收的参数只能为整数或整数列表或布尔列表，不能使用布尔Series，如果要用就必须如下把values拿出来

In [ ]:
# df.iloc[df['学校']=='S_1'].head() #报错
df.iloc[(df['学校']=='S_1').values].head()

#### （c） [ ]操作符
#### （c.1）Series的[ ]操作
#### ① 单元素索引：

In [ ]:
# 
s = pd.Series(df['数学成绩'],index=df.index)
s.head(),s[1103]
#使用的是索引标签

#### ② 多行索引：

In [ ]:
s[0:4]
#使用的是绝对位置的整数切片，与元素无关，这里容易混淆

#### ③ 函数式索引：

In [ ]:
# 
s[lambda x: x.index[16::-6]]
#注意使用lambda函数时，直接切片(如：s[lambda x: 16::-6])就报错，此时使用的不是绝对位置切片，而是元素切片，非常易错

#### ④ 布尔索引：

In [ ]:
# 选大于80的数
s[s>80]

#### 注意：如果索引是float类型，就不要用[ ]选择，因为此时不是按照位置选择，而是根据值的比较

In [ ]:
s_int = pd.Series([1,2,3,4],index=[1,3,5,6])
s_int

In [ ]:
s_int[2:]

In [ ]:
s_float = pd.Series([1,2,3,4],index=[1.,3.,5.,6.])
s_float

In [ ]:
#注意此时的start是在和索引比较大小，而不是按照位置选择数据
s_float[1:]

#### （c.2）DataFrame的[ ]操作
#### ① 单行索引：

In [ ]:
df[1:2]
#这里非常容易写成df['label']，会报错
#同Series使用了绝对位置切片

In [ ]:
# 获取索引为1102的数据
row = df.index.get_loc(1102)
df[row:row+1]

#### ② 多行索引：

In [ ]:
#用切片，如果是选取指定的某几行，推荐使用loc，否则很可能报错
df[3:5]

#### ③ 单列索引：

In [ ]:
# 选择‘学校’列数据
df['学校'].head()

#### ④ 多列索引：

In [ ]:
# # 选择‘学校’、‘数学成绩’列数据
df[['学校','数学成绩']].head()

#### ⑤函数式索引：

In [ ]:
# 选择'学校','数学成绩'列的数据
df[lambda x:['学校','数学成绩']].head()

#### ⑥ 布尔索引：

In [ ]:
df[df['性别']=='F'].head()

#### 小节：一般来说，[]操作符常用于列选择或布尔选择，尽量避免行的选择
### 2. 布尔索引
#### （a）布尔符号：'&','|','~'：分别代表和and，或or，取反not

In [ ]:
df[(df['性别']=='F')&(df['地址']=='street_2')].head()

In [ ]:
df[(df['数学成绩']>85)|(df['地址']=='street_7')].head()

In [ ]:
df[~((df['数学成绩']>75)|(df['地址']=='street_1'))].head()

#### loc和[]中相应位置都能使用布尔列表选择：

In [ ]:
df.loc[df['数学成绩']>60,df.columns=='物理成绩'].head()
#思考：为什么df.loc[df['数学成绩']>60,(df[:8]['地址']=='street_6').values].head()得到和上述结果一样？values能去掉吗？

#### （b） isin方法

In [ ]:
df[df['地址'].isin(['street_1','street_4'])&df['物理成绩'].isin(['A','A+'])]

In [ ]:
#上面也可以用字典方式写：
df[df[['地址','物理成绩']].isin({'地址':['street_1','street_4'],'物理成绩':['A','A+']}).all(1)]
#all与&的思路是类似的，其中的1代表按照跨列方向判断是否全为True

In [31]:
display(df.at[1101,'学校'])
display(df.loc[1101,'学校'])
display(df.iat[0,0])
display(df.iloc[0,0])
#可尝试去掉注释对比时间
#%timeit df.at[1101,'学校']
#%timeit df.loc[1101,'学校']
#%timeit df.iat[0,0]
#%timeit df.iloc[0,0]

'hello'

### 4. 区间索引
#### 此处介绍并不是说只能在单级索引中使用区间索引，只是作为一种特殊类型的索引方式，在此处先行介绍
#### （a）利用interval_range方法

In [ ]:
pd.interval_range(start=0,end=5)
#closed参数可选'left''right''both''neither'，默认左开右闭

In [ ]:
pd.interval_range(start=0,periods=8,freq=5)
#periods参数控制区间个数，freq控制步长

#### （b）利用cut将数值列转为区间为元素的分类变量，例如统计数学成绩的区间情况：

In [ ]:
数学成绩_interval = pd.cut(df['数学成绩'],bins=[0,40,60,80,100])
#注意，如果没有类型转换，此时并不是区间类型，而是category类型
数学成绩_interval.head()

#### （c）区间索引的选取

In [ ]:
df_i = df.join(数学成绩_interval,rsuffix='_interval')[['数学成绩','数学成绩_interval']]\
            .reset_index().set_index('数学成绩_interval')
df_i.head()

In [ ]:
df_i.loc[65].head()
#包含该值就会被选中

In [ ]:
df_i.loc[[65,90]].head()

#### 如果想要选取某个区间，先要把分类变量转为区间变量，再使用overlap方法：

In [ ]:
#df_i.loc[pd.Interval(70,75)].head() 报错
df_i[df_i.index.astype('interval').overlaps(pd.Interval(70, 85))].head()
#只要索引与(70,85]这个区间有交集就会被选中，注意pd.Interval默认构造区间都是左开右闭，可选closed参数right,left,both,neither

## 二、多级索引
### 1. 创建多级索引
#### （a）通过from_tuple或from_arrays
#### ① 直接创建元组

In [ ]:
tuples = [('A','a'),('A','b'),('B','a'),('B','b')]
mul_index = pd.MultiIndex.from_tuples(tuples, names=('Upper', 'Lower'))
mul_index

In [ ]:
pd.DataFrame({'Score':['perfect','good','fair','bad']},index=mul_index)

#### ② 利用zip创建元组

In [ ]:
L1 = list('AABB')
L2 = list('abab')
tuples = list(zip(L1,L2))
mul_index = pd.MultiIndex.from_tuples(tuples, names=('Upper', 'Lower'))
pd.DataFrame({'Score':['perfect','good','fair','bad']},index=mul_index)

#### ③ 通过Array创建

In [ ]:
arrays = [['A','a'],['A','b'],['B','a'],['B','b']]
mul_index = pd.MultiIndex.from_tuples(arrays, names=('Upper', 'Lower'))
pd.DataFrame({'Score':['perfect','good','fair','bad']},index=mul_index)

In [ ]:
mul_index
#由此看出内部自动转成元组

#### （b）通过from_product

In [ ]:
L1 = ['A','B']
L2 = ['a','b']
pd.MultiIndex.from_product([L1,L2],names=('Upper', 'Lower'))
#两两相乘

#### （c）指定df中的列创建（set_index方法）

In [ ]:
df_using_mul = df.set_index(['Class','地址'])
df_using_mul.head()

### 2. 多层索引切片

In [ ]:
df_using_mul.head()

#### （a）一般切片

In [ ]:
#df_using_mul.loc['C_2','street_5']
#当索引不排序时，单个索引会报出性能警告
#df_using_mul.index.is_lexsorted()
#该函数检查是否排序
df_using_mul.sort_index().loc['C_2','street_5']
#df_using_mul.sort_index().index.is_lexsorted()

In [ ]:
#df_using_mul.loc[('C_2','street_5'):] 报错
#当不排序时，不能使用多层切片
df_using_mul.sort_index().loc[('C_2','street_6'):('C_3','street_4')]
#注意此处由于使用了loc，因此仍然包含右端点

In [ ]:
df_using_mul.sort_index().loc[('C_2','street_7'):'C_3'].head()
#非元组也是合法的，表示选中该层所有元素

#### （b）第一类特殊情况：由元组构成列表

In [ ]:
df_using_mul.sort_index().loc[[('C_2','street_7'),('C_3','street_2')]]
#表示选出某几个元素，精确到最内层索引

#### （c）第二类特殊情况：由列表构成元组

In [ ]:
df_using_mul.sort_index().loc[(['C_2','C_3'],['street_4','street_7']),:]
#选出第一层在‘C_2’和'C_3'中且第二层在'street_4'和'street_7'中的行

### 3. 多层索引中的slice对象

In [ ]:
L1,L2 = ['A','B'],['a','b','c']
mul_index1 = pd.MultiIndex.from_product([L1,L2],names=('Upper', 'Lower'))
L3,L4 = ['D','E','F'],['d','e','f']
mul_index2 = pd.MultiIndex.from_product([L3,L4],names=('Big', 'Small'))
df_s = pd.DataFrame(np.random.rand(6,9),index=mul_index1,columns=mul_index2)
df_s

In [ ]:
idx=pd.IndexSlice

#### IndexSlice本质上是对多个Slice对象的包装

In [ ]:
idx[1:9:2,'A':'C','start':'end':2]

#### 索引Slice可以与loc一起完成切片操作，主要有两种用法
#### （a）loc[idx[\*,\*]]型
#### 第一个星号表示行，第二个表示列，且使用布尔索引时，需要索引对齐

In [ ]:
#例子1
df_s.loc[idx['B':,df_s.iloc[0]>0.6]]
#df_s.loc[idx['B':,df_s.iloc[:,0]>0.6]] #索引没有对齐报错

In [ ]:
#例子2
df_s.loc[idx[df_s.iloc[:,0]>0.6,:('E','f')]]

#### （b）loc[idx[\*,\*],idx[\*,\*]]型
#### 这里与上面的区别在于（a）中的loc是没有逗号隔开的，但（b）是用逗号隔开，前面一个idx表示行索引，后面一个idx为列索引
#### 这种用法非常灵活，因此多举几个例子方便理解

In [ ]:
#例子1
df_s.loc[idx['A'],idx['D':]]
#后面的层出现，则前面的层必须出现
#df_s.loc[idx['a'],idx['D':]] #报错

In [ ]:
#例子2
df_s.loc[idx[:'B','b':],:] #举这个例子是为了说明①可以在相应level使用切片②某一个idx可以用:代替表示全选

In [ ]:
#例子3
df_s.iloc[:,0]>0.6

In [ ]:
df_s.loc[idx[:'B',df_s.iloc[:,0]>0.6],:] #这个例子表示相应位置还可以使用布尔索引

In [ ]:
#例子4
#特别要注意，（b）中的布尔索引是可以索引不对齐的，只需要长度一样，比如下面这个例子
df_s.loc[idx[:'B',(df_s.iloc[0]>0.6)[:6]],:]

In [ ]:
#例子5
df_s.loc[idx[:'B','c':,(df_s.iloc[:,0]>0.6)],:]
#idx中层数k1大于df层数k2时，idx前k2个参数若相应位置是元素或者元素切片，则表示相应df层的元素筛选，同时也可以选择用同长度bool序列
#idx后面多出来的参数只能选择同bool序列，这样设计的目的是可以将元素筛选和条件筛选同时运用

In [ ]:
#例子6
df_s.loc[idx[:'B',(df_s.iloc[:,0]>0.6),(df_s.iloc[:,0]>0.6)],:] #这个就不是元素筛选而是条件筛选
#df_s.loc[idx[:'B',(df_s.iloc[:,0]>0.6),'c',:]] #报错
#df_s.loc[idx[:'c','B',(df_s.iloc[:,0]>0.6),:]] #报错

### 4. 索引层的交换
#### （a）swaplevel方法（两层交换）

In [ ]:
df_using_mul.head()

In [ ]:
df_using_mul.swaplevel(i=1,j=0,axis=0).sort_index().head()

#### （b）reorder_levels方法（多层交换）

In [ ]:
df_muls = df.set_index(['学校','Class','地址'])
df_muls.head()

In [ ]:
df_muls.reorder_levels([2,0,1],axis=0).sort_index().head()

In [ ]:
#如果索引有name，可以直接使用name
df_muls.reorder_levels(['地址','学校','Class'],axis=0).sort_index().head()

## 三、索引设定
### 1. index_col参数
#### index_col是read_csv中的一个参数，而不是某一个方法：

In [ ]:
pd.read_csv('data/table.csv',index_col=['地址','学校']).head()

### 2. reindex和reindex_like
#### reindex是指重新索引，它的重要特性在于索引对齐，很多时候用于重新排序

In [ ]:
df.head()

In [ ]:
df.reindex(index=[1101,1203,1206,2402])

In [ ]:
df.reindex(columns=['身高','性别','Average']).head()

#### 可以选择缺失值的填充方法：fill_value和method（bfill/ffill/nearest），其中method参数必须索引单调

In [ ]:
df.reindex(index=[1101,1203,1206,2402],method='bfill')
#这里的单调是指df必须索引经过排序，否则报错
#bfill表示用所在索引1206的后一个有效行填充，ffill为前一个有效行，nearest是指最近的

In [ ]:
df.reindex(index=[1101,1203,1206,2402],method='nearest')
#数值上1205比1301更接近1206，因此用前者填充

#### reindex_like的作用为生成一个横纵索引完全与参数列表一致的DataFrame，数据使用被调用的表

In [ ]:
df_temp = pd.DataFrame({'Weight':np.zeros(5),
                        '身高':np.zeros(5),
                        'ID':[1101,1104,1103,1106,1102]}).set_index('ID')
df_temp.reindex_like(df[0:5][['Weight','身高']])

#### 如果df_temp单调还可以使用method参数：

In [ ]:
df_temp = pd.DataFrame({'Weight':range(5),
                        '身高':range(5),
                        'ID':[1101,1104,1103,1106,1102]}).set_index('ID').sort_index()
df_temp.reindex_like(df[0:5][['Weight','身高']],method='bfill')
#可以自行检验这里的1105的值是否是由bfill规则填充

### 3. set_index和reset_index
#### 先介绍set_index：从字面意思看，就是将某些列作为索引

#### 使用表内列作为索引：

In [ ]:
df.head()

In [ ]:
df.set_index('Class').head()

#### 利用append参数可以将当前索引维持不变

In [ ]:
df.set_index('Class',append=True).head()

#### 当使用与表长相同的列作为索引（需要先转化为Series，否则报错）：

In [ ]:
df.set_index(pd.Series(range(df.shape[0]))).head()

#### 可以直接添加多级索引：

In [ ]:
df.set_index([pd.Series(range(df.shape[0])),pd.Series(np.ones(df.shape[0]))]).head()

#### 下面介绍reset_index方法，它的主要功能是将索引重置
#### 默认状态直接恢复到自然数索引：

In [ ]:
df.reset_index().head()

#### 用level参数指定哪一层被reset，用col_level参数指定set到哪一层：

In [ ]:
L1,L2 = ['A','B','C'],['a','b','c']
mul_index1 = pd.MultiIndex.from_product([L1,L2],names=('Upper', 'Lower'))
L3,L4 = ['D','E','F'],['d','e','f']
mul_index2 = pd.MultiIndex.from_product([L3,L4],names=('Big', 'Small'))
df_temp = pd.DataFrame(np.random.rand(9,9),index=mul_index1,columns=mul_index2)
df_temp.head()

In [ ]:
df_temp1 = df_temp.reset_index(level=1,col_level=1)
df_temp1.head()

In [ ]:
df_temp1.columns
#看到的确插入了level2

In [ ]:
df_temp1.index
#最内层索引被移出

### 4. rename_axis和rename
#### rename_axis是针对多级索引的方法，作用是修改某一层的索引名，而不是索引标签

In [ ]:
df_temp.rename_axis(index={'Lower':'LowerLower'},columns={'Big':'BigBig'})

#### rename方法用于修改列或者行索引标签，而不是索引名：

In [ ]:
df_temp.rename(index={'A':'T'},columns={'e':'changed_e'}).head()

## 四、常用索引型函数
### 1. where函数
#### 当对条件为False的单元进行填充：

In [ ]:
df.head()

In [ ]:
df.where(df['性别']=='M').head()
#不满足条件的行全部被设置为NaN

#### 通过这种方法筛选结果和[]操作符的结果完全一致：

In [ ]:
df.where(df['性别']=='M').dropna().head()

#### 第一个参数为布尔条件，第二个参数为填充值：

In [ ]:
df.where(df['性别']=='M',np.random.rand(df.shape[0],df.shape[1])).head()

### 2. mask函数
#### mask函数与where功能上相反，其余完全一致，即对条件为True的单元进行填充

In [ ]:
df.mask(df['性别']=='M').dropna().head()

In [ ]:
df.mask(df['性别']=='M',np.random.rand(df.shape[0],df.shape[1])).head()

### 3. query函数

In [ ]:
df.head()

#### query函数中的布尔表达式中，下面的符号都是合法的：行列索引名、字符串、and/not/or/&/|/~/not in/in/==/!=、四则运算符

In [ ]:
df.query('(地址 in ["street_6","street_7"])&(Weight>(70+10))&(ID in [1303,2304,2402])')

## 五、重复元素处理
### 1. duplicated方法
#### 该方法返回了是否重复的布尔列表

In [ ]:
df.duplicated('Class').head()

#### 可选参数keep默认为first，即首次出现设为不重复，若为last，则最后一次设为不重复，若为False，则所有重复项为True

In [ ]:
df.duplicated('Class',keep='last').tail()

In [ ]:
df.duplicated('Class',keep=False).head()

### 2. drop_duplicates方法
#### 从名字上看出为剔除重复项，这在后面章节中的分组操作中可能是有用的，例如需要保留每组的第一个值：

In [ ]:
df.drop_duplicates('Class')

#### 参数与duplicate函数类似：

In [ ]:
df.drop_duplicates('Class',keep='last')

#### 在传入多列时等价于将多列共同视作一个多级索引，比较重复项：

In [ ]:
df.drop_duplicates(['学校','Class'])

## 六、抽样函数
#### 这里的抽样函数指的就是sample函数
#### （a）n为样本量

In [ ]:
df.sample(n=5)

#### （b）frac为抽样比

In [ ]:
df.sample(frac=0.05)

#### （c）replace为是否放回

In [ ]:
df.sample(n=df.shape[0],replace=True).head()

In [ ]:
df.sample(n=35,replace=True).index.is_unique

#### （d）axis为抽样维度，默认为0，即抽行

In [ ]:
df.sample(n=3,axis=1).head()

#### （e）weights为样本权重，自动归一化

In [ ]:
df.sample(n=3,weights=np.random.rand(df.shape[0])).head()

In [ ]:
#以某一列为权重，这在抽样理论中很常见
#抽到的概率与数学成绩数值成正比
df.sample(n=3,weights=df['数学成绩']).head()