In [34]:
import pandas as pd
import numpy as np

### 1. 创建一个Series命名为s1, Value: '一组' '二组' '三组' '四组'

In [35]:
data = np.array(['一组', '二组', '三组', '四组'])
s1 = pd.Series(data, index=[1, 2, 3, 4])

### 2.打印s1所有的值和索引

In [36]:
print(s1.values)
print(s1.index)

['一组' '二组' '三组' '四组']
Int64Index([1, 2, 3, 4], dtype='int64')

### 3.将索引为 1, 3 的值打印出来

In [37]:
print(s1[[1, 3]])

1    一组
3    三组
dtype: object

### 将 Value: '一组' '二组' '三组' '四组' 更换为组名 叶原枫 萝卜 Stayls 黑马

In [38]:
data = np.array(['叶原枫', '萝卜', 'Stayls', '黑马'])
s1 = pd.Series(data, index=[1, 2, 3, 4])
print(s1)

1       叶原枫
2        萝卜
3    Stayls
4        黑马
dtype: object

### 打印出s1的维度

In [39]:
print(s1.ndim)

1

### 读取student.csv文件创建DataFrame命名为DF

In [40]:
def csv_to_df(csv_file):
    import os
    print(os.path.abspath('.'))
    csv_data = pd.read_csv(csv_file, low_memory=False)  # 防止弹出警告
    df = pd.DataFrame(csv_data)
    return df


s2 = csv_to_df('data/students.csv')

D:\Bing_John\Code\Python\Lenovo-Future-Project-Group-C-Cay-pythonJupyter-Pandas-Procedure

### 打印 df 前五行

In [41]:
df5 = s2.head(5)
df5

   序号   姓名 性别  年龄
0   0  崔昊元  女  18
1   1  贾靖程  女  18
2   2  吴俊岳  男  18
3   3  王浩羽  男  18
4   4  吕梦丽  女  18

### 打印 df 后七行

In [42]:
df7 = s2.tail(7)
df7

    序号   姓名 性别  年龄
9    9  王孝天  男  18
10  10  付一鸣  男  18
11  11  李蓉轩  女  18
12  12  陈观绅  男  18
13  13  赵鑫博  男  18
14  14  张子豪  男  18
15  15   叶平  男  18