In [117]:
import numpy as np
import pandas as pd

### 1. 创建一个Series命名为s1, Value: '一组' '二组' '三组' '四组'

In [118]:
data = np.array(['一组', '二组', '三组', '四组'])
s1 = pd.Series(data, index=[1, 2, 3, 4])

### 2.打印s1所有的值和索引

In [119]:
print(s1.values)
print(s1.index)

['一组' '二组' '三组' '四组']
Int64Index([1, 2, 3, 4], dtype='int64')

### 3.将索引为 1, 3 的值打印出来

In [120]:
print(s1[[1, 3]])

1    一组
3    三组
dtype: object

### 4.将 Value: '一组' '二组' '三组' '四组' 替换 '叶原枫' '萝卜' 'Stayls' '黑马'

In [121]:
data = np.array(['叶原枫', '萝卜', 'Stayls', '黑马'])
s1 = pd.Series(data, index=[1, 2, 3, 4])
print(s1)

1       叶原枫
2        萝卜
3    Stayls
4        黑马
dtype: object

### 5.打印出s1的维度

In [122]:
print(s1.ndim)

1

### 6.读取student.csv文件创建DataFrame命名为DF

In [123]:
def csv_to_df(csv_file):
    csv = pd.read_csv(csv_file, low_memory=False)  # 防止弹出警告
    df = pd.DataFrame(csv)
    return df


s2 = csv_to_df('data/students.csv')

### 7.（1）打印 df 前五行

In [124]:
df5 = s2.head(5)
df5

   学号   姓名 性别  年龄                邮箱   组名
0   0  崔昊元  女  18  183067245@qq.com   萝卜
1   1  贾靖程  女  18  075428361@qq.com   黑马
2   2  吴俊岳  男  18  165024837@qq.com   萝卜
3   3  王浩羽  男  18  874102635@qq.com  叶原枫
4   4  吕梦丽  女  18  357240816@qq.com   黑马

### 7.（2）打印 df 后七行

In [125]:
df7 = s2.tail(7)
df7

    学号   姓名 性别  年龄                邮箱     组名
12  12  陈观绅  男  18  538627104@qq.com    叶原枫
13  13  赵鑫博  男  18  027618534@qq.com     萝卜
14  14  张子豪  男  18  017568342@qq.com     萝卜
15  15   叶平  男  18  842360157@qq.com  Style
16  16  杨悦欣  女  18  217308654@qq.com     黑马
17  17  李博远  男  18  253846107@qq.com  Style
18  18  张靖薇  女  18  813546270@qq.com     黑马

### 8.打印 df 第五到第十行数据

In [126]:
# 打印 df 第五到第十行数据
df = s2[5:11]
df

    学号   姓名 性别  年龄                邮箱     组名
5    5  牛皓冬  男  18  475026318@qq.com  Style
6    6   张阔  男  18  172643085@qq.com    叶原枫
7    7  孙佳奇  男  18  124750683@qq.com  Style
8    8  郑佳睦  男  18  548360172@qq.com    叶原枫
9    9  王孝天  男  18  680157423@qq.com     萝卜
10  10  付一鸣  男  18  638124075@qq.com  Style

### 9.打印 '姓名' '组名' 这两列数据

In [127]:
# 打印姓名组名这两列数据
df = s2[['姓名', '组名']]
df

     姓名     组名
0   崔昊元     萝卜
1   贾靖程     黑马
2   吴俊岳     萝卜
3   王浩羽    叶原枫
4   吕梦丽     黑马
5   牛皓冬  Style
6    张阔    叶原枫
7   孙佳奇  Style
8   郑佳睦    叶原枫
9   王孝天     萝卜
10  付一鸣  Style
11  李蓉轩     黑马
12  陈观绅    叶原枫
13  赵鑫博     萝卜
14  张子豪     萝卜
15   叶平  Style
16  杨悦欣     黑马
17  李博远  Style
18  张靖薇     黑马

### 10.打印所有的标题

In [128]:
# 打印所有的标题
df = s2.columns
print(df)

Index(['学号', '姓名', '性别', '年龄', '邮箱', '组名'], dtype='object')

### 11.打印df的形状(几行几列)

In [129]:
df = s2.shape
print(df)

(19, 6)

### 12.打印df的维度

In [130]:
df = s2.ndim
print(df)

2

### 13.删除第五行数据

In [131]:
s2.drop(5, inplace=False)

    学号   姓名 性别  年龄                邮箱     组名
0    0  崔昊元  女  18  183067245@qq.com     萝卜
1    1  贾靖程  女  18  075428361@qq.com     黑马
2    2  吴俊岳  男  18  165024837@qq.com     萝卜
3    3  王浩羽  男  18  874102635@qq.com    叶原枫
4    4  吕梦丽  女  18  357240816@qq.com     黑马
6    6   张阔  男  18  172643085@qq.com    叶原枫
7    7  孙佳奇  男  18  124750683@qq.com  Style
8    8  郑佳睦  男  18  548360172@qq.com    叶原枫
9    9  王孝天  男  18  680157423@qq.com     萝卜
10  10  付一鸣  男  18  638124075@qq.com  Style
11  11  李蓉轩  女  18  135428760@qq.com     黑马
12  12  陈观绅  男  18  538627104@qq.com    叶原枫
13  13  赵鑫博  男  18  027618534@qq.com     萝卜
14  14  张子豪  男  18  017568342@qq.com     萝卜
15  15   叶平  男  18  842360157@qq.com  Style
16  16  杨悦欣  女  18  217308654@qq.com     黑马
17  17  李博远  男  18  253846107@qq.com  Style
18  18  张靖薇  女  18  813546270@qq.com     黑马

### 14.删除年龄这一列

In [132]:
s2.drop('年龄', axis=1, inplace=False)

    学号   姓名 性别                邮箱     组名
0    0  崔昊元  女  183067245@qq.com     萝卜
1    1  贾靖程  女  075428361@qq.com     黑马
2    2  吴俊岳  男  165024837@qq.com     萝卜
3    3  王浩羽  男  874102635@qq.com    叶原枫
4    4  吕梦丽  女  357240816@qq.com     黑马
5    5  牛皓冬  男  475026318@qq.com  Style
6    6   张阔  男  172643085@qq.com    叶原枫
7    7  孙佳奇  男  124750683@qq.com  Style
8    8  郑佳睦  男  548360172@qq.com    叶原枫
9    9  王孝天  男  680157423@qq.com     萝卜
10  10  付一鸣  男  638124075@qq.com  Style
11  11  李蓉轩  女  135428760@qq.com     黑马
12  12  陈观绅  男  538627104@qq.com    叶原枫
13  13  赵鑫博  男  027618534@qq.com     萝卜
14  14  张子豪  男  017568342@qq.com     萝卜
15  15   叶平  男  842360157@qq.com  Style
16  16  杨悦欣  女  217308654@qq.com     黑马
17  17  李博远  男  253846107@qq.com  Style
18  18  张靖薇  女  813546270@qq.com     黑马

### 15.打印组名是Stayls的数据

In [134]:
# 打印索引为Stayls的数据
df = s2[s2['组名'] == 'Style']
print(df)

    学号   姓名 性别  年龄                邮箱     组名
5    5  牛皓冬  男  18  475026318@qq.com  Style
7    7  孙佳奇  男  18  124750683@qq.com  Style
10  10  付一鸣  男  18  638124075@qq.com  Style
15  15   叶平  男  18  842360157@qq.com  Style
17  17  李博远  男  18  253846107@qq.com  Style