In [88]:
import numpy as np
import pandas as pd

### 1. 创建一个Series命名为s1, Value: '一组' '二组' '三组' '四组'

In [89]:
data = np.array(['一组', '二组', '三组', '四组'])
s1 = pd.Series(data, index=[1, 2, 3, 4])

### 2.打印s1所有的值和索引

In [90]:
print(s1.values)
print(s1.index)

['一组' '二组' '三组' '四组']
Int64Index([1, 2, 3, 4], dtype='int64')

### 3.将索引为 1, 3 的值打印出来

In [91]:
print(s1[[1, 3]])

1    一组
3    三组
dtype: object

### 4.将 Value: '一组' '二组' '三组' '四组' 替换 '叶原枫' '萝卜' 'Stayls' '黑马'

In [92]:
data = np.array(['叶原枫', '萝卜', 'Stayls', '黑马'])
s1 = pd.Series(data, index=[1, 2, 3, 4])
print(s1)

1       叶原枫
2        萝卜
3    Stayls
4        黑马
dtype: object

### 5.打印出s1的维度

In [93]:
print(s1.ndim)

1

### 6.读取student.csv文件创建DataFrame命名为DF

In [94]:
def csv_to_df(csv_file):
    csv = pd.read_csv(csv_file, low_memory=False)  # 防止弹出警告
    df = pd.DataFrame(csv)
    return df


s2 = csv_to_df('data/students.csv')

### 7.（1）打印 df 前五行

In [95]:
df5 = s2.head(5)
df5

   学号   姓名 性别  年龄                邮箱
0   0  崔昊元  女  18  873410562@qq.com
1   1  贾靖程  女  18  782043516@qq.com
2   2  吴俊岳  男  18  524106783@qq.com
3   3  王浩羽  男  18  867025341@qq.com
4   4  吕梦丽  女  18  721548063@qq.com

### 7.（2）打印 df 后七行

In [96]:
df7 = s2.tail(7)
df7

    学号   姓名 性别  年龄                邮箱
9    9  王孝天  男  18  365174802@qq.com
10  10  付一鸣  男  18  358170246@qq.com
11  11  李蓉轩  女  18  478123065@qq.com
12  12  陈观绅  男  18  350127648@qq.com
13  13  赵鑫博  男  18  437601285@qq.com
14  14  张子豪  男  18  325016874@qq.com
15  15   叶平  男  18  467125308@qq.com

### 8.打印 df 第五到第十行数据

In [97]:
# 打印 df 第五到第十行数据
df = s2[5:11]
df

    学号   姓名 性别  年龄                邮箱
5    5  牛皓冬  男  18  146827503@qq.com
6    6   张阔  男  18  641307285@qq.com
7    7  孙佳奇  男  18  576238104@qq.com
8    8  郑佳睦  男  18  051643728@qq.com
9    9  王孝天  男  18  365174802@qq.com
10  10  付一鸣  男  18  358170246@qq.com

### 9.打印 '姓名' '组名' 这两列数据

In [98]:
# 打印姓名组名这两列数据
df = s2[['姓名', '组名']]
df

KeyError: "['组名'] not in index"

### 10.打印所有的标题

In [ ]:
# 打印所有的标题
df = s2.columns
print(df)

### 11.打印df的形状(几行几列)

In [ ]:
df = s2.shape
print(df)

### 12.打印df的维度

In [ ]:
df = s2.ndim
print(df)

### 13.删除第五行数据

In [103]:
s2.drop(5, inplace=False)

    学号   姓名 性别  年龄                邮箱
0    0  崔昊元  女  18  873410562@qq.com
1    1  贾靖程  女  18  782043516@qq.com
2    2  吴俊岳  男  18  524106783@qq.com
3    3  王浩羽  男  18  867025341@qq.com
4    4  吕梦丽  女  18  721548063@qq.com
6    6   张阔  男  18  641307285@qq.com
7    7  孙佳奇  男  18  576238104@qq.com
8    8  郑佳睦  男  18  051643728@qq.com
9    9  王孝天  男  18  365174802@qq.com
10  10  付一鸣  男  18  358170246@qq.com
11  11  李蓉轩  女  18  478123065@qq.com
12  12  陈观绅  男  18  350127648@qq.com
13  13  赵鑫博  男  18  437601285@qq.com
14  14  张子豪  男  18  325016874@qq.com
15  15   叶平  男  18  467125308@qq.com

### 14.删除年龄这一列

In [102]:
s2.drop('年龄', axis=1, inplace=False)

    学号   姓名 性别                邮箱
0    0  崔昊元  女  873410562@qq.com
1    1  贾靖程  女  782043516@qq.com
2    2  吴俊岳  男  524106783@qq.com
3    3  王浩羽  男  867025341@qq.com
4    4  吕梦丽  女  721548063@qq.com
5    5  牛皓冬  男  146827503@qq.com
6    6   张阔  男  641307285@qq.com
7    7  孙佳奇  男  576238104@qq.com
8    8  郑佳睦  男  051643728@qq.com
9    9  王孝天  男  365174802@qq.com
10  10  付一鸣  男  358170246@qq.com
11  11  李蓉轩  女  478123065@qq.com
12  12  陈观绅  男  350127648@qq.com
13  13  赵鑫博  男  437601285@qq.com
14  14  张子豪  男  325016874@qq.com
15  15   叶平  男  467125308@qq.com

# 15.打印组名是Stayls的数据

In [ ]:
# 打印索引为Stayls的数据
df = s2[s2['组名'] == 'Stayls']
print(df)