In [3]:
import numpy as np
import pandas as pd

### 1. 创建一个Series命名为s1, Value: '一组' '二组' '三组' '四组'

In [4]:
data = np.array(['一组', '二组', '三组', '四组'])
s1 = pd.Series(data, index=[1, 2, 3, 4])

# s1 = pd.Series(['一组', '二组', '三组', '四组'], index=[1, 2, 3, 4])

### 2.打印s1所有的值和索引

In [5]:
print(s1.values)
print(s1.index)
data

['一组' '二组' '三组' '四组']
Int64Index([1, 2, 3, 4], dtype='int64')

### 3.将索引为 1, 3 的值打印出来

In [6]:
print(s1[[1, 3]])

1    一组
3    三组
dtype: object

### 4.将 Value: '一组' '二组' '三组' '四组' 替换 '叶原枫' '萝卜' 'Stayls' '黑马'

In [7]:
data = np.array(['叶原枫', '萝卜', 'Stayls', '黑马'])
s1 = pd.Series(data, index=[1, 2, 3, 4])
print(s1)

1       叶原枫
2        萝卜
3    Stayls
4        黑马
dtype: object

### 5.打印出s1的维度

In [8]:
print(s1.ndim)

1

### 6.读取student.csv文件创建DataFrame命名为DF

In [9]:
def csv_to_df(csv_file):
    csv = pd.read_csv(csv_file, low_memory=False)  # 防止弹出警告
    csv_df = pd.DataFrame(csv)
    return csv_df


s2 = csv_to_df('data/students.csv')

### 7.（1）打印 df 前五行

In [10]:
df5 = s2.head(5)
df5

   学号   姓名 性别  年龄                邮箱   组名
0   0  崔昊元  女  18  182607543@qq.com   萝卜
1   1  贾靖程  女  18  354817260@qq.com   黑马
2   2  吴俊岳  男  18  061523784@qq.com   萝卜
3   3  王浩羽  男  18  362745810@qq.com  叶原枫
4   4  吕梦丽  女  18  081725634@qq.com   黑马

### 7.（2）打印 df 后七行

In [11]:
df7 = s2.tail(7)
df7

    学号   姓名 性别  年龄                邮箱     组名
12  12  陈观绅  男  18  625704183@qq.com    叶原枫
13  13  赵鑫博  男  18  625178043@qq.com     萝卜
14  14  张子豪  男  18  147653028@qq.com     萝卜
15  15   叶平  男  18  508731642@qq.com  Style
16  16  杨悦欣  女  18  810563247@qq.com     黑马
17  17  李博远  男  18  467015238@qq.com  Style
18  18  张靖薇  女  18  035214678@qq.com     黑马

### 8.打印 df 第五到第十行数据

In [22]:
# 打印 df 第五到第十行数据
df5_10 = s2.iloc[5:10 + 1]
df5_10

    学号   姓名 性别  年龄                邮箱     组名
5    5  牛皓冬  男  18  250813647@qq.com  Style
6    6   张阔  男  18  175426803@qq.com    叶原枫
7    7  孙佳奇  男  18  136807245@qq.com  Style
8    8  郑佳睦  男  18  012785643@qq.com    叶原枫
9    9  王孝天  男  18  854067321@qq.com     萝卜
10  10  付一鸣  男  18  360712854@qq.com  Style

### 9.打印 '姓名' '组名' 这两列数据

In [13]:
# 打印姓名组名这两列数据
df_name_group = s2[['姓名', '组名']]
df_name_group

     姓名     组名
0   崔昊元     萝卜
1   贾靖程     黑马
2   吴俊岳     萝卜
3   王浩羽    叶原枫
4   吕梦丽     黑马
5   牛皓冬  Style
6    张阔    叶原枫
7   孙佳奇  Style
8   郑佳睦    叶原枫
9   王孝天     萝卜
10  付一鸣  Style
11  李蓉轩     黑马
12  陈观绅    叶原枫
13  赵鑫博     萝卜
14  张子豪     萝卜
15   叶平  Style
16  杨悦欣     黑马
17  李博远  Style
18  张靖薇     黑马

### 10.打印所有的标题

In [14]:
# 打印所有的标题
df_title = s2.columns
df_title

Index(['学号', '姓名', '性别', '年龄', '邮箱', '组名'], dtype='object')


### 11.打印df的形状(几行几列)

In [15]:
df = s2.shape
print(df)

(19, 6)

### 12.打印df的维度

In [16]:
df = s2.ndim
print(df)

2

### 13.删除第五行数据

In [17]:
s2.drop(5, inplace=False)

    学号   姓名 性别  年龄                邮箱     组名
0    0  崔昊元  女  18  182607543@qq.com     萝卜
1    1  贾靖程  女  18  354817260@qq.com     黑马
2    2  吴俊岳  男  18  061523784@qq.com     萝卜
3    3  王浩羽  男  18  362745810@qq.com    叶原枫
4    4  吕梦丽  女  18  081725634@qq.com     黑马
6    6   张阔  男  18  175426803@qq.com    叶原枫
7    7  孙佳奇  男  18  136807245@qq.com  Style
8    8  郑佳睦  男  18  012785643@qq.com    叶原枫
9    9  王孝天  男  18  854067321@qq.com     萝卜
10  10  付一鸣  男  18  360712854@qq.com  Style
11  11  李蓉轩  女  18  635148720@qq.com     黑马
12  12  陈观绅  男  18  625704183@qq.com    叶原枫
13  13  赵鑫博  男  18  625178043@qq.com     萝卜
14  14  张子豪  男  18  147653028@qq.com     萝卜
15  15   叶平  男  18  508731642@qq.com  Style
16  16  杨悦欣  女  18  810563247@qq.com     黑马
17  17  李博远  男  18  467015238@qq.com  Style
18  18  张靖薇  女  18  035214678@qq.com     黑马

### 14.删除年龄这一列

In [18]:
s2.drop('年龄', axis=1, inplace=False)

    学号   姓名 性别                邮箱     组名
0    0  崔昊元  女  182607543@qq.com     萝卜
1    1  贾靖程  女  354817260@qq.com     黑马
2    2  吴俊岳  男  061523784@qq.com     萝卜
3    3  王浩羽  男  362745810@qq.com    叶原枫
4    4  吕梦丽  女  081725634@qq.com     黑马
5    5  牛皓冬  男  250813647@qq.com  Style
6    6   张阔  男  175426803@qq.com    叶原枫
7    7  孙佳奇  男  136807245@qq.com  Style
8    8  郑佳睦  男  012785643@qq.com    叶原枫
9    9  王孝天  男  854067321@qq.com     萝卜
10  10  付一鸣  男  360712854@qq.com  Style
11  11  李蓉轩  女  635148720@qq.com     黑马
12  12  陈观绅  男  625704183@qq.com    叶原枫
13  13  赵鑫博  男  625178043@qq.com     萝卜
14  14  张子豪  男  147653028@qq.com     萝卜
15  15   叶平  男  508731642@qq.com  Style
16  16  杨悦欣  女  810563247@qq.com     黑马
17  17  李博远  男  467015238@qq.com  Style
18  18  张靖薇  女  035214678@qq.com     黑马

### 15.打印组名是Stayls的数据

In [19]:
# 打印索引为Stayls的数据
df = s2[s2['组名'] == 'Style']
print(df)

    学号   姓名 性别  年龄                邮箱     组名
5    5  牛皓冬  男  18  250813647@qq.com  Style
7    7  孙佳奇  男  18  136807245@qq.com  Style
10  10  付一鸣  男  18  360712854@qq.com  Style
15  15   叶平  男  18  508731642@qq.com  Style
17  17  李博远  男  18  467015238@qq.com  Style