In [3]:
import pandas as pd
import numpy as np

In [19]:
# 1.读取文件，用display打印前五行和后十行
df=pd.read_csv('课程1.csv')
df

                       课程名字     课程类别  学分     分数
0               思想道德修养与法律基础      思政类   3   89.0
1                  云计算应用与开发    专业选修课   3   96.0
2                      社会计算    专业选修课   3   78.0
3                      深度学习    专业选修课   3   75.0
4                    人工智能导论    专业必修课   3    NaN
5                   中国近代史纲要      思政类   3   97.0
6                   数据结构与算法    学科基础课   5   82.0
7                 开源软件设计与开发    专业选修课   3   81.0
8                     网球（初）      体育类   1   81.0
9                   大数据应用案例    专业必修课   3   91.0
10             极端性气候与陆地生态系统  公共任意选修类   2   78.0
11                     电子商务    专业选修课   3   74.0
12                  高等数学（二）    学科基础课   4   92.0
13                    游泳（初）      体育类   1   75.0
14                    计算机视觉    专业选修课   3    NaN
15                     离散数学    学科基础课   4   82.0
16                数据科学的数学基础    专业必修课   4   75.0
17                     程序设计    学科基础课   4    NaN
18                    足球（初）      体育类   1  100.0
19                     线性代数    学科基础课   3   97.0
20  毛泽东思想和中国特色社会主义理论体系概论（一）      思政类   3   99.0
21                     机器学习    专业选修课   3   88.0
22                     位置服务    专业选修课   3   87.0
23                学术英语听说（一）      英语类   2   85.0
24              程序正义与经典案例解析     精品课程   2   76.0
25                  环境可持续发展  公共任意选修类   2   76.0
26                     数据挖掘    专业必修课   4   71.0
27  毛泽东思想和中国特色社会主义理论体系概论（二）      思政类   3   93.0
28                    概率图模型    专业选修课   3   96.0
29                    篮球（初）      体育类   1   77.0
30                   高等统计选讲    专业选修课   3   87.0
31                     推荐系统    专业选修课   3   97.0
32                     智慧城市    专业选修课   3   77.0

In [30]:
# 用display打印前五行和后十行
display(df.head(5))
display(df.tail(10))

          课程名字   课程类别  学分    分数
0  思想道德修养与法律基础    思政类   3  89.0
1     云计算应用与开发  专业选修课   3  96.0
2         社会计算  专业选修课   3  78.0
3         深度学习  专业选修课   3  75.0
4       人工智能导论  专业必修课   3   NaN

                       课程名字     课程类别  学分    分数
23                学术英语听说（一）      英语类   2  85.0
24              程序正义与经典案例解析     精品课程   2  76.0
25                  环境可持续发展  公共任意选修类   2  76.0
26                     数据挖掘    专业必修课   4  71.0
27  毛泽东思想和中国特色社会主义理论体系概论（二）      思政类   3  93.0
28                    概率图模型    专业选修课   3  96.0
29                    篮球（初）      体育类   1  77.0
30                   高等统计选讲    专业选修课   3  87.0
31                     推荐系统    专业选修课   3  97.0
32                     智慧城市    专业选修课   3  77.0

In [ ]:
# 2.(1)有那些课程类别

# (2.)有多少个类别

In [ ]:
# 3.每一个课程类别对应了多少课程名字

In [29]:
# 4打印出学分大与三分的数据
df[(df['学分']>3)]

         课程名字   课程类别  学分    分数
6     数据结构与算法  学科基础课   5  82.0
12    高等数学（二）  学科基础课   4  92.0
15       离散数学  学科基础课   4  82.0
16  数据科学的数学基础  专业必修课   4  75.0
17       程序设计  学科基础课   4   NaN
26       数据挖掘  专业必修课   4  71.0

In [27]:
# 5打印出学分小于等于2或大于等于4
df[(df['学分']<=2)|(df['学分']>=4)]

            课程名字     课程类别  学分     分数
6        数据结构与算法    学科基础课   5   82.0
8          网球（初）      体育类   1   81.0
10  极端性气候与陆地生态系统  公共任意选修类   2   78.0
12       高等数学（二）    学科基础课   4   92.0
13         游泳（初）      体育类   1   75.0
15          离散数学    学科基础课   4   82.0
16     数据科学的数学基础    专业必修课   4   75.0
17          程序设计    学科基础课   4    NaN
18         足球（初）      体育类   1  100.0
23     学术英语听说（一）      英语类   2   85.0
24   程序正义与经典案例解析     精品课程   2   76.0
25       环境可持续发展  公共任意选修类   2   76.0
26          数据挖掘    专业必修课   4   71.0
29         篮球（初）      体育类   1   77.0

In [ ]:
# 6将分数类的空值替换成平均值

In [42]:
# 7.查看思政类和体育类的课程名字
print(df.loc[(df['课程类别']=='体育类',df.columns=='课程名字')])
print(df.loc[(df['课程类别']=='思政类',df.columns=='课程名字')])

     课程名字
8   网球（初）
13  游泳（初）
18  足球（初）
29  篮球（初）
                       课程名字
0               思想道德修养与法律基础
5                   中国近代史纲要
20  毛泽东思想和中国特色社会主义理论体系概论（一）
27  毛泽东思想和中国特色社会主义理论体系概论（二）

In [34]:
# 8查看电子商务的分数
df.loc[df['课程名字']=='电子商务',df.columns=='分数']

      分数
11  74.0

In [39]:
# 9修改索引，重1101开使到len(df)，把索引给成编号
s = range(1101,1101+len(df))
s

range(1101, 1134)

In [ ]:
# 10获取编号1101到1109，的课程名字和分数

In [ ]:
# 11使用iloc输出1101，1103，1105的三行数据

In [ ]:
# 12对分数进行降序处理，输出前10行

In [ ]:
# 13使用c对分数进行区间的划分0，60，75，90，100命名为分数区间右开

In [ ]:
# 14将分数区间作为一列放入到区间命名为分数区间