In [1]:
import pandas as pd
from IPython.core.display_functions import display

In [2]:
# 0.读取课程1.csv文件,并将其转换为DataFrame
def csv_to_df(csv_file, index_col=None):
    data = pd.DataFrame(pd.read_csv(csv_file, index_col=index_col, low_memory=False))
    return data

In [3]:
df = csv_to_df('../Data/课程1.csv')

In [4]:
# 1.打印前五行后时十行

display(df.head(5))
display(df.tail(10))

          课程名字   课程类别  学分    分数
0  思想道德修养与法律基础    思政类   3  89.0
1     云计算应用与开发  专业选修课   3  96.0
2         社会计算  专业选修课   3  78.0
3         深度学习  专业选修课   3  75.0
4       人工智能导论  专业必修课   3   NaN

                       课程名字     课程类别  学分    分数
23                学术英语听说（一）      英语类   2  85.0
24              程序正义与经典案例解析     精品课程   2  76.0
25                  环境可持续发展  公共任意选修类   2  76.0
26                     数据挖掘    专业必修课   4  71.0
27  毛泽东思想和中国特色社会主义理论体系概论（二）      思政类   3  93.0
28                    概率图模型    专业选修课   3  96.0
29                    篮球（初）      体育类   1  77.0
30                   高等统计选讲    专业选修课   3  87.0
31                     推荐系统    专业选修课   3  97.0
32                     智慧城市    专业选修课   3  77.0

In [5]:
# 2.有哪些课程类别，有多少课程类别
df['课程类别'].unique(), df['课程类别'].nunique()

(array(['思政类', '专业选修课', '专业必修课', '学科基础课', '体育类', '公共任意选修类', '英语类', '精品课程'],
       dtype=object),
 8)

In [6]:
# 3.每个课程类别对应了多少课程名字
df.groupby('课程类别')['课程名字'].count()

课程类别
专业必修课       4
专业选修课      12
体育类         4
公共任意选修类     2
学科基础课       5
思政类         4
精品课程        1
英语类         1
Name: 课程名字, dtype: int64

In [7]:
# 4.打印出学分大于3分的数据
df[df['学分']>3]

         课程名字   课程类别  学分    分数
6     数据结构与算法  学科基础课   5  82.0
12    高等数学（二）  学科基础课   4  92.0
15       离散数学  学科基础课   4  82.0
16  数据科学的数学基础  专业必修课   4  75.0
17       程序设计  学科基础课   4   NaN
26       数据挖掘  专业必修课   4  71.0

In [8]:
# 5.打印出学分小于等于2分或大于等于4分的数据
df[(df['学分']<=2) | (df['学分']>=4)]

            课程名字     课程类别  学分     分数
6        数据结构与算法    学科基础课   5   82.0
8          网球（初）      体育类   1   81.0
10  极端性气候与陆地生态系统  公共任意选修类   2   78.0
12       高等数学（二）    学科基础课   4   92.0
13         游泳（初）      体育类   1   75.0
15          离散数学    学科基础课   4   82.0
16     数据科学的数学基础    专业必修课   4   75.0
17          程序设计    学科基础课   4    NaN
18         足球（初）      体育类   1  100.0
23     学术英语听说（一）      英语类   2   85.0
24   程序正义与经典案例解析     精品课程   2   76.0
25       环境可持续发展  公共任意选修类   2   76.0
26          数据挖掘    专业必修课   4   71.0
29         篮球（初）      体育类   1   77.0

In [9]:
# 6.将分数列的None值替换为此列的平均值
df['分数'].fillna(df['分数'].mean(), inplace=True)
df

                       课程名字     课程类别  学分          分数
0               思想道德修养与法律基础      思政类   3   89.000000
1                  云计算应用与开发    专业选修课   3   96.000000
2                      社会计算    专业选修课   3   78.000000
3                      深度学习    专业选修课   3   75.000000
4                    人工智能导论    专业必修课   3   85.066667
5                   中国近代史纲要      思政类   3   97.000000
6                   数据结构与算法    学科基础课   5   82.000000
7                 开源软件设计与开发    专业选修课   3   81.000000
8                     网球（初）      体育类   1   81.000000
9                   大数据应用案例    专业必修课   3   91.000000
10             极端性气候与陆地生态系统  公共任意选修类   2   78.000000
11                     电子商务    专业选修课   3   74.000000
12                  高等数学（二）    学科基础课   4   92.000000
13                    游泳（初）      体育类   1   75.000000
14                    计算机视觉    专业选修课   3   85.066667
15                     离散数学    学科基础课   4   82.000000
16                数据科学的数学基础    专业必修课   4   75.000000
17                     程序设计    学科基础课   4   85.066667
18                    足球（初）      体育类   1  100.000000
19                     线性代数    学科基础课   3   97.000000
20  毛泽东思想和中国特色社会主义理论体系概论（一）      思政类   3   99.000000
21                     机器学习    专业选修课   3   88.000000
22                     位置服务    专业选修课   3   87.000000
23                学术英语听说（一）      英语类   2   85.000000
24              程序正义与经典案例解析     精品课程   2   76.000000
25                  环境可持续发展  公共任意选修类   2   76.000000
26                     数据挖掘    专业必修课   4   71.000000
27  毛泽东思想和中国特色社会主义理论体系概论（二）      思政类   3   93.000000
28                    概率图模型    专业选修课   3   96.000000
29                    篮球（初）      体育类   1   77.000000
30                   高等统计选讲    专业选修课   3   87.000000
31                     推荐系统    专业选修课   3   97.000000
32                     智慧城市    专业选修课   3   77.000000

In [10]:
# 7.查看思政类和体育类的课程名字
df[df['课程类别'].isin(['思政类', '体育类'])]['课程名字']

In [ ]:
# 8.查看电子商务的考试分数