In [35]:
import random
import pandas as pd

s = ["崔昊元", "贾靖程", "吴俊岳",
     "王浩羽", "吕梦丽", "李博远",
     "牛皓冬", "张阔", "孙佳奇", "郑佳睦",
     "王孝天", "付一鸣", "李蓉轩", "陈观绅",
     "赵鑫博", "张子豪", "叶平"]
c = 0
l = []
while c < 500:
    a = random.choice(s)
    # print(a)
    c += 1
    l.append(a)


df_sj = pd.DataFrame(l)
df_sj

       0
0    孙佳奇
1    吴俊岳
2    吴俊岳
3    李博远
4     叶平
..   ...
495  付一鸣
496  陈观绅
497  贾靖程
498   张阔
499  牛皓冬

[500 rows x 1 columns]

In [36]:
# 随机点名每个名字的次数
a = df_sj.value_counts()
a

王孝天    37
牛皓冬    35
李博远    34
吴俊岳    33
崔昊元    32
付一鸣    31
陈观绅    31
郑佳睦    30
叶平     29
孙佳奇    29
贾靖程    29
赵鑫博    29
吕梦丽    28
王浩羽    27
张阔     26
李蓉轩    22
张子豪    18
dtype: int64

In [37]:
a/500

王孝天    0.074
牛皓冬    0.070
李博远    0.068
吴俊岳    0.066
崔昊元    0.064
付一鸣    0.062
陈观绅    0.062
郑佳睦    0.060
叶平     0.058
孙佳奇    0.058
贾靖程    0.058
赵鑫博    0.058
吕梦丽    0.056
王浩羽    0.054
张阔     0.052
李蓉轩    0.044
张子豪    0.036
dtype: float64

In [37]:
# 封装函数