In [2]:
import pandas as pd

In [7]:
# 1创建series，命名s1，它的值：一组、二组、三组、四组，它的索引是：1.2.3.4
s1 = pd.Series(['一组','二组','三组','四组'],index=(1,2,3,4))

In [9]:
# 2打印s1的所有值和索引
s1

1    一组
2    二组
3    三组
4    四组
dtype: object

In [ ]:
#3把索引为1和3的值打印出来

In [ ]:
# 4将一到四组的值改为各组的名字

In [ ]:
# 5打印s1的维度

In [4]:
# 6读取sutdent.csv文件,创建dataframe,命名为df
op = pd.read_csv('student.csv')
op

    序号   姓名 性别  年龄            邮箱
0    1  崔昊元  女  17  11111@qq.com
1    2  贾靖程  女  17  11112@qq.com
2    3  吴俊岳  男  17  11113@qq.com
3    4  王浩羽  男  17  11114@qq.com
4    5  吕梦丽  女  17  11115@qq.com
5    6  牛皓冬  男  17  11116@qq.com
6    7   张阔  男  17  11117@qq.com
7    8  孙佳奇  男  17  11118@qq.com
8    9  郑佳睦  男  17  11119@qq.com
9   10  王孝天  男  17  11120@qq.com
10  11  付一鸣  男  17  11121@qq.com
11  12  李蓉轩  女  17  11122@qq.com
12  13  陈观绅  男  17  11123@qq.com
13  14  赵鑫博  男  17  11124@qq.com
14  15  张子豪  男  17  11125@qq.com
15  16   叶平  男  17  11126@qq.com

In [ ]:
# 7输出df的前五行和后七行